<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('问题反馈',''), libs: ''}){ %>
<#grid:grid id="tchargeBackTaskGrid" url="${adminPath}/chargeback/order/getCanChargeBackTaskList" sortname="receivingdate" multiselect="false" sortorder="desc" sortable="false">
<#grid:column label="任务编号" width="90" query="true" condition="like" name="buyerTaskNo" align="center"/>
<#grid:column label="京东单号" width="90" query="true" condition="like" name="ecommerceOrderNo" align="center"/>
<#grid:column label="货号" name="goodsName" width="140" />
<#grid:column label="SKU" name="skuid" width="140" />
<#grid:column label="商家名称" name="shopName" query="true" condition="like" width="100" />
<#grid:column label="买手名称" name="buyerNo" query="true" condition="like" width="80" align="center"/>
<#grid:column label="下单时间" name="receivingdate" query="true" width="80" queryMode="date"  condition="between" align="center" />
<#grid:column label="任务状态" name="buyTaskStatus" query="true" align="center" queryMode="select" condition="eq"  dict="taskstate" width="70"/>
<#grid:column label="sys.common.opt" name="opt"  formatter="button" />
<#grid:button title="退单" groupname="opt" function="rowDialogDetailRefresh" winwidth="500px" winheight="350px"   outclass="btn-danger" innerclass="fa-search" url='${adminPath}/chargeback/order/goToChargeBack/\"+row.id+\"'  />
<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>