<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('已退任务单',''), libs: ''}){ %>

<#grid:grid id="ttaskBaseGrid" url="${adminPath}/chargeback/order/getChargeBackOrderList" sortname="applyNo" sortorder="desc" sortable="false">
<#grid:column label="任务编号" width="120" query="true" condition="like" name="buyerTaskNo" align="center"/>
<#grid:column label="京东单号" name="ecommerceOrderNo" width="140"  query="true" condition="like" align="center" />
<#grid:column label="商品名称" name="goodsName" width="140" />
<#grid:column label="商户名称" name="shopName" width="140" />
<#grid:column label="接单时间" name="receivingdate" width="140" />
<#grid:column label="买手号" name="buyerNo" width="140" />
<#grid:column label="退单时间" name="dtime" query="true" queryMode="date" condition="between"  width="140"/>
<#grid:column label="退单金额" name="chargeBackMoney" formatter="currency"  width="100" />
<#grid:column label="退单原因" name="chargeBackReason"  />
<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>