<% layout('/layouts/form.html', {title: @MessageUtils.getMessage('问题反馈',''), formId: 'tfinanceRechargeForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>

<#form:form id="tfinanceRechargeForm" modelAttribute="taskObj" method="post" class="form-horizontal">
<#form:hidden path="id"/>
<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
    <tbody>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>原因说明:</label>
        </td>
        <td class="width-35" >
            <textarea id="chargeBackDesc" cols="40" rows="8" ></textarea>
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    </tbody>
</table>
</#form:form>
<div style="text-align: right;padding-right: 20px">
	<button class='btn btn-warning' onclick="saveChargeBackFn()">提交</button>
</div>
<% } %>

<script>
    //异常订单申请保存
    function saveChargeBackFn() {
        var data={
        		buyTaskId:"${taskObj.id}",
        		remarks:$('#chargeBackDesc').val()
        };
        if(data.remarks =='' || data.remarks==null){
            alert("未填写退单原因");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "${adminPath}/chargeback/order/chargeBack",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                alert(data.msg);
                //刷新表单
                window.parent.location.reload();//刷新父页面
                var index = parent.layer.getFrameIndex(window.name)//获取窗口索引
                parent.layer.close(index)
            },
            error: function (data) {
             alert("错误！");
            }
        });
    }

</script>