<% layout('/layouts/tab.html', {title: @MessageUtils.getMessage('商户订单管理',''), libs: ''}){ %>
<div id="queryForm">

</div>
<div>
    <div id="shopOrderTabs">
        <ul>
            <li><a href="#shopOrderTabs1">全部订单</a></li>
            <li><a href="#shopOrderTabs2">待出库</a></li>
            <li><a href="#shopOrderTabs3">已出库</a></li>
        </ul>
        <div id="shopOrderTabs1">
            <table id="showAllShopOrder">
                <thead>
                    <tr>
                        <th colspan="10"><button>批量操作</button></th>
                    </tr>
                    <tr>
                        <th style="width: 80px"><input type="checkbox" />全选</th>
                        <th style="width: 80px">&nbsp;</th>
                        <th style="width:15%">商品信息</th>
                        <th style="width:10%">单价/数量</th>
                        <th style="width:10%">货款金额</th>
                        <th style="width:10%">下单帐号</th>
                        <th style="width:10%">物流信息</th>
                        <th style="width:12%">商家备注</th>
                        <th style="width:10%">订单状态</th>
                        <th style="width:70px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" style="background-color: #2D9BDA">
                            <span><input type="checkbox" /></span>
                            <span>订单号:20190313001</span>
                            <span>下单时间:2019-03-19 12:23:30</span>
                            <span>付款时间:2019-03-19 12:23:30</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                        <td rowspan="2" valign="top">货款金额</td>
                        <td rowspan="2" valign="top">下单帐号</td>
                        <td rowspan="2" valign="top">物流信息</td>
                        <td rowspan="2" valign="top">商家备注</td>
                        <td rowspan="2" valign="top">订单状态</td>
                        <td rowspan="2" valign="top">操作</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                    </tr>

                    <tr>
                        <td colspan="10" style="background-color: #2D9BDA">
                            <span><input type="checkbox" /></span>
                            <span>订单号:20190313001</span>
                            <span>下单时间:2019-03-19 12:23:30</span>
                            <span>付款时间:2019-03-19 12:23:30</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                        <td rowspan="2" valign="top">货款金额</td>
                        <td rowspan="2" valign="top">下单帐号</td>
                        <td rowspan="2" valign="top">物流信息</td>
                        <td rowspan="2" valign="top">商家备注</td>
                        <td rowspan="2" valign="top">订单状态</td>
                        <td rowspan="2" valign="top">操作</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                    </tr>

                    <tr>
                        <td colspan="10" style="background-color: #2D9BDA">
                            <span><input type="checkbox" /></span>
                            <span>订单号:20190313001</span>
                            <span>下单时间:2019-03-19 12:23:30</span>
                            <span>付款时间:2019-03-19 12:23:30</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                        <td rowspan="2" valign="top">货款金额</td>
                        <td rowspan="2" valign="top">下单帐号</td>
                        <td rowspan="2" valign="top">物流信息</td>
                        <td rowspan="2" valign="top">商家备注</td>
                        <td rowspan="2" valign="top">订单状态</td>
                        <td rowspan="2" valign="top">操作</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img style="width: 75px;height:80px;" src="${staticPath}/common/img/default_avatar_male.jpg"> </td>
                        <td>商品信息</td>
                        <td>单价/数量</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="shopOrderTabs2">
            <table id="showWaitingOutShopOrder">
                <thead>
                <tr>
                    <th>批量操作</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="shopOrderTabs3">
            <table id="showOutAckShopOrder">
                <thead>
                <tr>
                    <th>批量操作</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#shopOrderTabs").tabs();
    });
</script>
<% } %>