<% layout('/layouts/tab.html', {title: @MessageUtils.getMessage('商户订单管理',''), libs: ''}){ %>
<style>
    #shopOrderTabs img{
        width: 65px;
        height:70px;
    }
    #shopOrderTabs table{
        width: 100%
    }
    #shopOrderTabs table th{
        height: 30px;
        font-size: 15px;
        text-align: center;
    }
    #shopOrderTabs table td{
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .orderTitle{
        background-color: #cccccc;
        text-align: left;
        height: 30px;
        padding-top: 2px;
        padding-left: 8px;
    }
    .goodsInfoTd{
        text-align: left;
        padding-top: 2px;
        padding-left: 8px;
    }
    .orderTitle span{
        margin-right: 10px;
    }
    .checkbox_input{
        width: 18px;
        height: 18px;
    }
    #shopOrderTabs table td{
        border-top: 1px solid #cccccc;
    }
    #shopOrderTabs table .head_tr td{
        padding-top: 4px;
    }
    #shopOrderTabs table .price_num_td{
        text-align: center;
        padding-right: 6px;
    }
    #shopOrderTabs table .price_num_td div{
        text-align: right;
        width: 60%;
        margin-top: 4px;
    }
    .priceLabel{
        color: red;
    }
    .goodsInfo{
        margin-top: 2px;
    }
    #orderPageDiv {
        text-align: right;
        padding-right: 20px;
    }
    #queryForm{
        height: 50px;
    }
    #queryForm .queryLabel{
        text-align: right;
        padding-right: 2px;
    }
    #queryForm .queryInput{
        width: 120px;
        height: 26px;
        border: 0.5px solid royalblue;
        padding-left: 5px;
     }
    #queryForm .queryBtn{
        width: 80px;
        height: 26px;
        padding-left: 5px;
    }
</style>
<div id="queryForm" style="width: 100%;text-align: center">
    <input type="hidden" id="availabledeposit" value="${availabledeposit}" />
    <form id="logisticsQueryShopOrderForm">
        <table>
            <tr>
                <td class="queryLabel">下单时间&nbsp;:&nbsp;<input class="queryInput" id="beginDate" name="beginDate" value="${beginDate}" type="text" /></td>
                <td class="queryLabel">至&nbsp;:&nbsp;<input class="queryInput" id="endDate" name="endDate" value="${endDate}" type="text" /></td>
                <td class="queryLabel">京东单号&nbsp;:&nbsp;<input class="queryInput" id="jdOrderNo" name="jdOrderNo" type="text" /></td>
                <td class="queryLabel">任务单号&nbsp;:&nbsp;<input class="queryInput" id="buyerTaskNo" name="buyerTaskNo" type="text" /></td>
                <td class="queryLabel">买手编号&nbsp;:&nbsp;<input class="queryInput" id="buyerNo" name="buyerNo" type="text" /></td>
                <td class="queryBtn">
                    <input type="hidden" name="currentPage" value="1" />
                    <input type="hidden" name="pageSize" value="5" />
                    <input type="hidden" name="queryType" value="0" />
                    <input type="hidden" name="totalPage" value="0" />
                    <input type="hidden" id="queryBasePath" value="${adminPath}" />
                    <button type="button" onclick="gotoPageFn(1)">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                </td>
                <td class="queryBtn">
                    <button type="reset">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <div id="shopOrderTabs">
        <ul>
            <li><a href="#shopOrderTabs1">全部订单</a></li>
            <li><a href="#shopOrderTabs2">待出库</a></li>
            <li><a href="#shopOrderTabs3">已出库</a></li>
        </ul>
        <div id="shopOrderTabs1">
            <table id="showAllShopOrder">
                <thead></thead>
                <tbody> </tbody>
            </table>
        </div>
        <div id="shopOrderTabs2">
            <table id="showWaitingOutShopOrder">
                <thead></thead>
                <tbody> </tbody>
            </table>
        </div>
        <div id="shopOrderTabs3">
            <table id="showOutAckShopOrder">
                <thead></thead>
                <tbody> </tbody>
            </table>
        </div>
        <div id="orderPageDiv"></div>
    </div>
</div>
<script src="${staticPath}/logistics/shopOrderList.js?v=20190729003"></script>
<script type="text/javascript">
    $(function () {
        $("#beginDate").datepicker({
            dateFormat: "yyyy-mm-dd"
        });
        $("#endDate").datepicker({
            dateFormat: "yyyy-mm-dd"
        });
        $("#shopOrderTabs").tabs({
            activate: function( event, ui ) {
                var activeIdx=$( "#shopOrderTabs" ).tabs( "option", "active" );
                $("#logisticsQueryShopOrderForm input[name=currentPage]").val(1);
                $("#logisticsQueryShopOrderForm input[name=pageSize]").val(5);
                chooseTabFn(activeIdx);
            }
        });
        chooseTabFn(0);
    });
</script>
<% } %>