<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('订单出库',''), libs: ''}){ %>

<#grid:grid id="buyerCommissionGrid" url="${adminPath}/logisticsOrder/logistics/ajaxPlatformOrderList"  multiselect="false" sortname="applyNo" sortorder="desc" sortable="false">
<#grid:column label="订单号" width="100" query="true" condition="eq"  name="jdOrderNo" align="center"/>
<#grid:column label="商户名称" name="buyerName" query="true" condition="like" width="100" />
<#grid:column label="商户等级" name="buyerLevelName" width="100" />
<#grid:column label="订单金额" name="taskNum"  width="100" formatter="currency"/>
<#grid:column label="订单佣金" name="taskLinkNum"  width="100" formatter="currency"/>
<#grid:column label="sys.common.opt" name="opt" formatter="button" />
<#grid:button title="详情" groupname="opt" function="rowDialogDetailRefresh" winwidth="1000px" winheight="750px" outclass="btn-danger"  url='${adminPath}/buyer/TmyTaskDetail/getApplyTaskDetail/1/\"+row.id+\"' />
<#grid:button title="出库" groupname="opt" function="rowDialogDetailRefresh" outclass="btn-danger"  url='${adminPath}/buyer/TmyTaskDetail/getApplyTaskDetail/1/\"+row.id+\"' />
<#grid:toolbar function="search" />
<#grid:toolbar function="reset" />
<#grid:toolbar title="确认出库" function="update" winwidth="600px" winheight="550px"  />
</#grid:grid>
<% } %>