<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('订单出库',''), libs: ''}){ %>

<#grid:grid id="buyerCommissionGrid" url="${adminPath}/logisticsOrder/logistics/ajaxPlatformOrderList"  multiselect="false" sortname="applyNo" sortorder="desc" sortable="false">
<#grid:column label="京东单号" width="100" query="true" condition="eq"  name="jdOrderNo" align="center"/>
<#grid:column label="买手任务号" width="100" query="true" condition="eq"  name="jdOrderNo" align="center"/>
<#grid:column label="买手编号" width="100" query="true" condition="eq"  name="buyerLoginNo" align="center"/>
<#grid:column label="商户名称" name="shopName" query="true" condition="like" width="100" />
<#grid:column label="下单时间" name="orderDtime" width="100" />
<#grid:column label="订单状态" name="orderStatus"  width="100" formatter="currency"/>
<#grid:column label="订单佣金" name="outStoreShouldPayMoney"  width="100" formatter="currency"/>
<#grid:column label="sys.common.opt" name="opt" formatter="button" />
<#grid:button title="出库" groupname="opt" outclass="btn-danger"  url='${adminPath}/buyer/TmyTaskDetail/getApplyTaskDetail/1/\"+row.id+\"' />
<#grid:toolbar function="search" />
<#grid:toolbar function="reset" />
</#grid:grid>
<% } %>