<% layout('/layouts/tab.html', {title: @MessageUtils.getMessage('商户订单管理',''), libs: ''}){ %>
<style>
    #shopOrderTabs img{
        width: 75px;
        height:80px;
    }
    #shopOrderTabs table{
        width: 100%
    }
    #shopOrderTabs table th{
        height: 30px;
        font-size: 15px;
    }
    #shopOrderTabs table td{
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .orderTitle{
        background-color: #cccccc;
        height: 30px;
        padding-top: 2px;
        padding-left: 8px;
    }
    .orderTitle span{
        margin-right: 10px;
    }
    .checkbox_td{
        width: 24px;
    }
    #shopOrderTabs table .head_tr td{
        border-top: 1px solid red;
        padding-top: 4px;
    }
    #shopOrderTabs table .price_num_td{
        text-align: center;
        padding-right: 6px;
    }
    #shopOrderTabs table .price_num_td div{
        text-align: right;
        width: 60%;
        margin-top: 4px;
    }
    .priceLabel{
        color: red;
    }
    #orderPageDiv {
        text-align: right;
        padding-right: 20px;
    }
</style>
<div id="queryForm">

</div>
<div>
    <div id="shopOrderTabs">
        <ul>
            <li><a href="#shopOrderTabs1">全部订单</a></li>
            <li><a href="#shopOrderTabs2">待出库</a></li>
            <li><a href="#shopOrderTabs3">已出库</a></li>
        </ul>
        <div id="shopOrderTabs1">
            <table id="showAllShopOrder">
                <thead>
                    <tr>
                        <th colspan="4"><button>出&nbsp;&nbsp;库</button></th>
                        <th colspan="6">
                            <span>商户余额:&nbsp;&nbsp;￥&nbsp;&nbsp;<label class="priceLabel">1000.00</label>&nbsp;&nbsp;元</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>订单佣金总额:&nbsp;&nbsp;￥&nbsp;&nbsp;<label class="priceLabel">300.00</label>&nbsp;&nbsp;元</span>
                        </th>
                        <th colspan="3"></th>
                    </tr>
                    <tr>
                        <th class="checkbox_td"><input alt="全选" type="checkbox" onchange="checkAllBoxFn(this)" parantTbId=\"showAllShopOrder\"" /></th>
                        <th style="width: 80px">&nbsp;</th>
                        <th style="width:15%">商品信息</th>
                        <th style="width:10%">单价/数量</th>
                        <th style="width:10%">货款金额</th>
                        <th style="width:10%">下单帐号</th>
                        <th style="width:10%">物流信息</th>
                        <th style="width:12%">出库佣金</th>
                        <th style="width:10%">订单状态</th>
                        <th style="width:70px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="shopOrderTabs2">
            <table id="showWaitingOutShopOrder">
                <thead>
                <tr>
                    <th>批量操作</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="shopOrderTabs3">
            <table id="showOutAckShopOrder">
                <thead>
                <tr>
                    <th>批量操作</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="orderPageDiv"></div>
    </div>
</div>
<script src="${staticPath}/logistics/shopOrderList.js?v=20190729005"></script>
<script type="text/javascript">
    $(function () {
        $("#shopOrderTabs").tabs();
        chooseTabFn("${adminPath}",1);
    });
</script>
<% } %>