<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('销售列表信息',''), libs: ''}){ %>

<#grid:grid id="tsellerInfoGrid" url="${adminPath}/seller/info/sellerInfo/ajax" multiselect="false"  sortname="levelCode" sortorder="desc" sortable="false">
<#grid:column label="用户姓名" width="90" name="soldname" align="center" query="true"  condition="like" />
<#grid:column label="用户账号" name="soldlogin" width="140" />
<#grid:column label="用户等级" name="levalName"  width="100" />
<#grid:column label="冻结状态" name="freezeStatus" width="80" align="center" formatterValue="0:未冻结;1:已冻结"/>
<#grid:toolbar function="update" winwidth="600px" winheight="550px"  />
</#grid:grid>
<% } %>