<% layout('/layouts/form.html', {title: '销售佣金区间', formId: 'tbuyerLevelForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>
<#form:form id="tsellerCommissionDataRangeForm" modelAttribute="data" method="post" class="form-horizontal">
<#form:hidden path="id"/>
<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
    <tbody>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>等级名称:</label>
        </td>
        <td class="width-35" colspan="3">
            <#form:input path="levelName" class="form-control"   datatype="*" nullmsg="请输入分组名称！"  htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>下限值:</label>
        </td>
        <td class="width-35">
            <#form:select path="beginDayNum" class="form-control" dict="buyerCommissionType" htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>上限值:</label>
        </td>
        <td class="width-35" >
            <#form:select path="endDayNum" class="form-control" dict="buyerCommissionType" htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>佣金类型:</label>
        </td>
        <td class="width-35"  colspan="3">
            <#form:select path="commissionType" class="form-control" dict="buyerCommissionType" htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>固定佣金:</label>
        </td>
        <td class="width-35" >
            <#form:input path="commissionValue" class="form-control"  datatype="*" nullmsg="请输入固定佣金！"  htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>每单佣金:</label>
        </td>
        <td class="width-35" >
            <#form:input path="commissionRatio" class="form-control"   datatype="*" nullmsg="请输每单佣金！"  htmlEscape="false" />
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    </tbody>
</table>
</#form:form>
<% } %>