<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('销售人员等级',''), libs: ''}){ %>

<#grid:grid id="tsellerLevelGrid" url="${adminPath}/seller/info/level/ajax" multiselect="false"  sortname="levelCode" sortorder="desc" sortable="false">
<#grid:column label="等级编号" width="90" name="levelCode" align="center"/>
<#grid:column label="等级名称" name="levelName" width="140" />
<#grid:column label="上一个等级" name="preLevelName"  width="100" />
<#grid:column label="下一个等级" name="nextLevelName" width="80" align="center"/>
</#grid:grid>
<% } %>