<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('销售财务管理',''), libs: ''}){ %>
<div>
    <table cellpadding="10" style="font-size:18px;padding: 10px">
        <tr>
            <td colspan="4"><h3 style="color: #000000;">我的提成</h3><hr /></td>
        </tr>
        <tr>
            <!--<td><p>账号余额：<span style="color:green;font-weight: bold" id="sumTotaldeposit"></span>&nbsp;&nbsp;&nbsp;</p></td>-->
            <td><p>单笔提成：<span style="color:red;font-weight: bold" id="multiple"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>进行中提成：<span style="color:green;font-weight: bold" id="sumunansweredPrice"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>完成提成：<span style="color:green;font-weight: bold" id="sumfinishPrice"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <!--<td><p>等级：<span style="color:red;font-weight: bold" id="accountlevel"></span>&nbsp;&nbsp;&nbsp;</p></td>-->
        </tr>
        <tr>
            <td colspan="4"><h3 style="color: #000000;">商户发布任务信息</h3><hr /></td>
        </tr>
        <tr>
            <td><p>任务单数：<span style="color:green;font-weight: bold" id="sumtasknum"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>已接单数：<span style="color:green;font-weight: bold" id="sumunanswerednum"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>未接单数：<span style="color:blue;font-weight: bold" id="sumcanreceivenum"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>完成单数：<span style="color:blue;font-weight: bold" id="sumfinishnum"></span>&nbsp;&nbsp;&nbsp;</p></td>
        </tr>
    </table>
    <br>
</div>

<#grid:grid id="TshopRoleUserGrid" url="${adminPath}/shop/TshopRoleUser/listSoldFinanceajaxList" sortname="createDate" sortorder="desc" sortable="false">
<#grid:column label="日期" name="effectdate"  query="true" width="100" queryMode="date"  condition="between" />
<#grid:column label="商户号" name="loginname" query="true" condition="like" width="140" />
<#grid:column label="商户名" name="shopname" query="true" condition="like" width="140" />
<#grid:column label="任务单数" name="tasknum" width="80" />
<#grid:column label="未接单数" name="canreceivenum" width="100"/>
<#grid:column label="进行中单数" name="unanswerednum" width="100"/>
<#grid:column label="完成单数" name="finishnum" width="100"/>
<#grid:column label="进行中提成" name="unansweredPrice" width="100"/>
<#grid:column label="完成提成" name="finishPrice" width="100"/>

<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>
<script>
    function search(gridId){
        var page = $("#"+gridId).getGridParam('page'); // 获取当前页码
        searchByPage(gridId,page);
        getload();
    }
    getload();
    function getload(){
        var data={};
        data.loginname = $("input[name='loginname']").val();
        $.ajax({
            type: "POST",
            url: "${adminPath}/shop/TshopRoleUser/sumListSoldFinance",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                $("#multiple").html(data.multiple==undefined?"0":data.multiple);
                $("#sumunansweredPrice").html(data.sumunansweredPrice==undefined?"0":data.sumunansweredPrice);
                $("#sumfinishPrice").html(data.sumfinishPrice==undefined?"0":data.sumfinishPrice);
                $("#sumtasknum").html(data.sumtasknum==undefined?"0":data.sumtasknum);
                $("#sumunanswerednum").html(data.sumunanswerednum==undefined?"0":data.sumunanswerednum);
                $("#sumcanreceivenum").html(data.sumcanreceivenum==undefined?"0":data.sumcanreceivenum);
                $("#sumfinishnum").html(data.sumfinishnum==undefined?"0":data.sumfinishnum);
            }
        });
    }
</script>