<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('数据权限',''), libs: 'bootstrap-treeview'}){ %>
	<#grid:grid id="TshopRoleUserGrid" url="${adminPath}/shop/TshopRoleUser/ajaxList">
        <#grid:column label="用户"  name="username" query="true" condition="like"/>
		<#grid:column label="商户"  name="shopname" query="true" condition="like"/>
		<#grid:toolbar function="add"/>
		<#grid:toolbar function="delete" />
		<#grid:toolbar function="search"  />
		<#grid:toolbar function="reset" />
	</#grid:grid>

<% } %>
