<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('商家财务报表',''), libs: ''}){ %>

<div>
    <table cellpadding="10" style="font-size:18px;padding: 10px" align="center">
        <tr>
            <td><br>商家财务报表</td>
        </tr>
    </table>
    <br>
</div>
    <#grid:grid id="ttaskBaseGrid1" url="${adminPath}/shop/TtaskBase/listFinanceShopReport" pageable="true" sortable="false" rowNum="100">
<#grid:column label="日期"  name="counteffectdate" query="true"  queryMode="date" condition="between" />
<#grid:column label="商家名称" width="140"  name="shopname" query="true" condition="like"/>
<#grid:column label="商家账号" width="140"  name="loginname" query="true" condition="like"/>
<#grid:column label="店铺名称" width="160"  name="basename" query="true" condition="like"/>
<#grid:column label="实付总价" width="100"  name="sumActualprice"  formatter="currency" />
<#grid:column label="买手确认下单实付金额" width="120"  name="sumOrderPrice" formatter="currency"/>
<#grid:column label="商家确认发货实付金额" width="120"  name="sumDeliveryPrice" formatter="currency"/>
<#grid:column label="完成实付金额" width="100"  name="sumFinishPrice" formatter="currency"/>
<#grid:column label="总链接数" width="80"  name="sumCount"/>
<#grid:column label="已接单数" width="80"  name="sumreceivingnum"/>
<#grid:column label="已下单单数" width="80"  name="sumordernum"/>
<#grid:column label="已发货单数" width="80"  name="sumdeliverynum"/>
<#grid:column label="已完成单数" width="80"  name="sumfinishnum"/>
<#grid:column label="sys.common.opt"  name="opt" formatter="button" />
<#grid:button title="详细" exp="row.id!=1"  groupname="opt" function="rowDialogDetailRefresh" winwidth="100%" winheight="100%" outclass="btn-warning btn-xs" innerclass="fa-search" url='${adminPath}/buyer/TmyTaskDetail/\"+row.id+\"/buyerDetail' />
<#grid:toolbar  function="search"  />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>