<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>飞狗平台</title>
<link rel="stylesheet" href="${staticPath}/shop/css/bootstrap.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/fileinput.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/ProjectGlobal.css">
<link rel="stylesheet" href="${staticPath}/shop/css/global.css">
<link rel="stylesheet" href="${staticPath}/shop/css/layui.css">
<script src='${staticPath}/shop/js/jquery-3.3.1.min.js'></script>
<script src='${staticPath}/shop/js/bootstrap.min.js'></script>
<script src='${staticPath}/shop/js/fileinput.min.js'></script>
<script src="${staticPath}/shop/laydate/laydate.js" charset="UTF-8"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<!-- 用户信息栏 -->
    <div class='user_info'>
        <div class="row">
            <!--<div class="col-md-6">-->
                <!--<span class='border_r'>150000000000</span>-->
                <!--<a href="#">退出</a>-->
            <!--</div>-->
            <div class="col-md-6 row">
                <!--<div class="col-md-7">-->
                        <!--<span class='border_r'><a href="#">充值押金</a></span>-->
                        <!--<span class='border_r'><a href="#">充值符点</a></span>-->
                        <!--<span><a href="#">延长技术服务时长</a></span>-->
                <!--</div>-->
               <div class="col-md-5">
                    <span>可用押金：<b class='red_font'>${si.totaldeposit}</b>元</span>
                    <span>冻结押金：<b class='red_font'>${si.taskdeposit}</b>元</span>
               </div>
            </div>
        </div>
    </div>
    <!-- 广告轮播 -->
    <!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/banner_01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_02.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_03.png" alt="">
            </div>
        </div>
    </div> -->
    <!-- 标题栏 -->
    <!-- <div class="main_tab">
        <div class="row">
            <div class="col-md-2">
                <img src="img/huoyingfu.png" alt="">
            </div>
            <div class='col-md-8'>
                <div>
                    <a href="#">邀请返利</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">符点夺宝</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">琳琅试用</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气猪</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">迅达测速</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气宝盒</a>
                    <img src="img/hot.gif" alt="">
                </div>
            </div>
            <div class="col-md-2">
                个人中心
            </div>
        </div>
    </div> -->
    <!-- 主体 -->
    <div class='main_container'>

    <div class="get-menu">
        <a href="#">商家</a>
        <span>></span>
        <a class="A1" href="#">发布任务</a>
    </div>
     <!-- 发布任务 -->

    <div class='task_area'>
        <div style='display:none' class='warn_info'>请完整填写以下信息</div>
        <!-- 商品信息 -->
        <div class='task_goods_info'>
            <div class='good_basic_info'>
                <div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputLink" class="col-sm-2 control-label">商品链接:</label>
                            <div class="col-sm-6">
                                 <input class="form-control must-fill" id="inputLink" placeholder="" onblur="showOpen(this)" value="${tb.tUrl}">
                            </div>
                            <label for="inputLink" class="col-sm-1 control-label red_font">必填</label>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputCouponurl" class="col-sm-2 control-label">商品优惠券链接:</label>
                            <div class="col-sm-6">
                                <input class="form-control must-fill" id="inputCouponurl" placeholder="" value="${tb.couponurl}"  onblur="showCouponurl(this)">
                            </div>
                            <label for="inputTab" class="col-sm-1 control-label red_font">必填</label>
                            <button type="button" onclick="getCouponURLQRcode()" class="btn btn-default">生成二维码</button>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTab" class="col-sm-2 control-label">商品标题:</label>
                            <div class="col-sm-5">
                                 <input class="form-control must-fill" id="inputTab" placeholder="" value="${tb.tTitle}">
                            </div>
                            <label for="inputTab" class="col-sm-1 control-label red_font">必填</label>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="storename">店铺:</label>
                            <select id="storename" disabled="disabled">
                                <option value="">===请选择===</option>
                            </select>

                            <label for="storename"><b class='red_font margin_0'>必填</b></label>
                        </div>
                        <div class="form-group">
                            <label for="brand">品牌:</label>
                            <input type="text" class="form-control" id="brand" placeholder="" value="${tb.brand}">
                        </div>
                        <div class="form-group">
                            <label for="tasknum">任务单数:</label>
                            <input type="number" class="form-control must-fill" id="tasknum" placeholder="" value="" oninput="sum(this.value,$('#actualprice').val())">
                            <label for="inputNum">次数<span><b class='red_font margin_0'>必填</b></span></label>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="inputPrice">单品售价:</label>
                            <input type="number" class="form-control must-fill" id="inputPrice" placeholder="" value="${tb.tPrice}">
                            <label for="inputPrice">元<b class='red_font margin_0'>必填</b></label>
                        </div>
                        <div class="form-group">
                          <label for="actualprice">实付金额:</label>
                          <input type="number" class="form-control must-fill" id="actualprice" placeholder="" value="${tb.actualprice}"  oninput="sum($('#tasknum').val(),this.value)">
                          <label for="actualprice">元<span><b class='red_font margin_0'>必填</b></span></label>
                        </div>
                        <div class="form-group">
                            <label for="inputNum">每单拍:</label>
                            <input type="number" class="form-control must-fill" id="inputNum" placeholder="" value="1" readonly>
                            <label for="inputNum">件<span><!--（出于安全，建议每单不要超过2件）--><b class='red_font margin_0'>必填</b></span></label>
                        </div>
                        <!--<span>下单总金额<b class='red_font' id="numsum">0</b>元</span>-->
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <label>佣金单价（单链接）:</label>
                            <label>
                                <span id="presentdeposit"  style="color: green;font-size: 18px"></span></label>
                        </div>
                        <div class="form-group">
                            <label>扣除金额（佣金总价+每单实付金额）:</label>
                            <label><span id="presentdepositsum" style="color: red;font-size: 18px"></span></label>
                        </div>
                        <div class="form-group">
                            <label>账户可用余额:</label>
                            <label><b style="color: green;font-size: 18px">${si.totaldeposit}</b></span></label>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                          <label for="searchprice">搜索页面展示价格:</label>
                          <input type="text" class="form-control" id="searchprice" placeholder="" value="${tb.searchprice}">
                          <label for="searchprice">元<span class='color_0'>非必填，如该商品有满减、促销、多规格等情况，请填写此金额</span></label>
                        </div>
                        <div class="form-group">
                            <label for="article">货号:</label>
                            <input type="text" class="form-control" id="article" placeholder="" value="${tb.article}">
                        </div>
                        <div class="form-group">
                            <label for="effectdate">生效时间:</label>
                            <input id="effectdate" style="width: 180px" class="form-control"  type="text" readonly="readonly" onclick="laydate()" >
                        </div>
                     </form>
                    <form class="form-inline">
                        <label>二维码:</label>
                        <div class="portlet-body">
                           <img src="" id="qrcodeurl" height="200" width="200">
                        </div>
                    </form>
                </div>
            </div>
            <p class='border_0'>如何找到您的商品：</p>
            <div id='task_accordin' class='radio'>
                  <div class='item'>
                    <div class='item_area'>
                        <p>请上传第1张<b class="red_font">“商品主图”</b>，<b class='red_font'>必填</b><span>（图片大小为：1200x1200以内，且不能大于2M，格式为jpg、png、gif）</span></p>
                        <div class='good_upload'>
                            <div class='must-fill' id='good_pic1'>
                                 <img id="img0" src="${tb.imgurl!=null?tb.imgurl:"img/goods_pic.png"}" alt="">
                            </div>
                        </div>
                        <div class='good_keyword' id='keyword1'>
                            <div class='item' id=1>
                                <p>关键字来源：</p>
                                <label for="">让买手打开<b class='red-font'>京东APP</b>搜索关键字进入“搜索列表”</label>
                                <input type="text" id="keyword" class='must-fill' value="${tb.keyword}" style="width: 220px">
                                <span class='red_font'>必填</span>
                                <div class='good_cond'>
                                    <p>
                                        <label for="">规格：</label>
                                        <input type="text" placeholder="如：颜色" id="spec1" class='spec0' value="${tb.spec1}">
                                        <input type="text" placeholder="如：尺寸" id="spec2" class='spec1' value="${tb.spec2}">
                                        <span class='color_0'>非必填</span>
                                    </p>
                                </div>
                            </div>
                            <div class='make-sure'>
                                <input type="hidden" id="presentdepositID">
                                <button class='btn btn-warning' onclick="TaskConfirm(0)">确认提交信息</button>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>

</body>
<script src='${staticPath}/shop/js/swiper-3.4.2.min.js'></script>
<!--<script src='${staticPath}/shop/js/layui.all.js'></script>-->

<script>
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 2000,//可选选项，自动滑动
        })
        $(document).on('ready', function() {
            $("#jobData").fileinput({showCaption: true, dropZoneEnabled: true});
        });
        function loadFile(file,i){
            console.log(file)
            var item="<img id='img"+i+"' src='+img/"+file.name+"'>"
            $('#good_pic'+i).append(item)
        }
        // 必填项失去焦点基本验证
        $('.must-fill').bind('blur',function(){
            if($(this).val()==''){
            $(this).css('border','1px solid red').focus()
            }else{
            $(this).css('border','1px solid #ddd')
            }
        })

        //手机商品基本信息good_basic_info
        var good_basic_info={};
        //点击提交按钮
       var good_detail_info={}
       var radio_index;
       var isNext=false;
       var datastorename="";
       //商品具体信息
        //默认现实手机端
        $('#task_accordin .item_area').show();
       function TaskConfirm(index){
         $('.good_basic_info').find('input').each(function(index,ele){
            if($(this).hasClass('must-fill') && $(this).val()==''){
                $(this).addClass('red').focus()
            }else{
                $(this).removeClass('red')
                switch(index){
                    case 0:
                        good_detail_info.tUrl=$(ele).val()
                        break;
                    case 1:
                        good_detail_info.couponurl=$(ele).val()
                        break;
                    case 2:
                        good_detail_info.tTitle=$(ele).val()
                        break;
                    case 3:
                        good_detail_info.brand = $(ele).val()
                        break;
                    case 4:
                        good_detail_info.tasknum=$(ele).val()
                        break;
                    case 5:
                        good_detail_info.tPrice=$(ele).val()
                        break;
                    case 6:
                        good_detail_info.actualprice=$(ele).val()
                        break;
                    case 7:
                        good_detail_info.tNum=$(ele).val()
                        break;
                    case 8:
                        good_detail_info.searchprice=$(ele).val()
                        break;
                    case 9:
                        good_detail_info.article=$(ele).val()
                        break;
                    case 10:
                        good_detail_info.effectdate=$(ele).val()
                }
            }
         })
         //商品具体信息
          if($('#task_accordin input[type=radio]').prop('checked')==false){
            $('#task_accordin').addClass('red')
          }else{
            $('#task_accordin').removeClass('red')
          }
          good_detail_info.storename = $("#storename").val();
          good_detail_info.qrcodeurl = $("#qrcodeurl")[0].src;
          good_detail_info.keyword = $("#keyword").val();
          good_detail_info.spec1 = $("#spec1").val();
          good_detail_info.spec2 = $("#spec2").val();
          good_detail_info.imgurl=$('#good_pic1 img').prop('src');
          good_detail_info.presentdeposit = $("#presentdepositID").val();

          // good_detail_info.brand = $("#brand").val();
         if(good_detail_info.storename==""){
            alert("该商品链接所属“"+datastorename+"”店铺，您暂无权限发布！");
            return;
         }
         if(good_detail_info.tasknum==""||good_detail_info.tasknum==undefined){
            alert("请填写任务单数");
            return;
         }
         if(good_detail_info.actualprice==""||good_detail_info.actualprice==undefined){
            alert("请填写实付金额");
            return;
           }
         if(good_detail_info.effectdate==""||good_detail_info.effectdate==undefined){
            alert("请填写生效时间");
            return;
         }else {
             good_detail_info.effectdate = new Date(good_detail_info.effectdate.replace(/-/g,"/"));
         }
         if(good_detail_info.qrcodeurl==""||good_detail_info.qrcodeurl==undefined){
              alert("请上传二维码图片");
              return;
         }
         if(good_detail_info.keyword==""||good_detail_info.keyword==undefined){
            alert("请填写关键字");
            return;
         }
           if(good_detail_info.presentdeposit==-100){
               alert("实付金额超出限制！");
               return;
           }
        //填充任务信息
        // TaskAreaInfo()
           console.log(good_detail_info);
           good_detail_info.tType="jd";//先暂时默认jd，后续改为字典获取。
           $.ajax({
               type: "POST",
               url: "${adminPath}/shop/TtaskBase/add",
               contentType:'application/json;charset=utf-8',
               data: JSON.stringify(good_detail_info),
               dataType: "json",
               success: function(data){
                   alert(data.msg);
                   if("0"==data.code){
                       //刷新表单
                       window.parent.location.reload()//刷新父页面

                       var index = parent.layer.getFrameIndex(window.name)//获取窗口索引

                       parent.layer.close(index)
                   }
               },
               error: function(data){
               }
           });
       }
        function showOpen(turl){
           if(turl.value==""){
               return;
           }
            $.ajax({
                type: "POST",
                url: "${adminPath}/shop/TtaskBase/showTitle",
                contentType:'application/json;charset=utf-8',
                data: JSON.stringify({"turl":turl.value}),
                dataType: "json",
                success: function(data){
                    $("#inputTab").attr("value",data.ttitle);
                    $("#inputPrice").attr("value",data.goodprice);
                    $("#img0").attr("src",data.goodsrc);
                    $("#spec1").attr("value",data.spec1);
                    $("#spec2").attr("value",data.spec2);
                    $("#brand").attr("value",data.brand);
                    $("#article").attr("value",data.article);
                    var sel=document.getElementById('storename');
                    var bool = true;
                    datastorename = data.storename;
                    for(var i=0;i <sel.options.length;i++){
                        if(sel.options[i].text==data.storename){
                            sel.options[i].selected=true;
                            bool = false;
                            break;
                        }
                    }
                    if(bool){
                        alert("该商品链接所属“"+data.storename+"”店铺，您暂无权限发布！");

                    }
                }
            });
        }
        function showCouponurl(couponUrls){
            if($("#inputLink").val()==""){
                alert("请输入商品链接");
                $("#inputLink").focus();
                return;
            }
            if(couponUrls.value==""){
                return;
            }
            $.ajax({
                type: "POST",
                url: "${adminPath}/shop/TtaskBase/showtCouponInfo",
                contentType:'application/json;charset=utf-8',
                data: JSON.stringify({"couponUrls":couponUrls.value}),
                dataType: "json",
                success: function(data){
                    if(data.code==200){
                        $("#actualprice").attr("value",($("#inputPrice").val()-data.discount));
                        alert("优惠奍剩余张数:"+data.remainNum+"\r\n开始有效时间:"+data.takeBeginTime+"\r\n到期有效时间:"+data.takeEndTime+"\r\n优惠奍面额:"+data.discount);
                        getCouponURLQRcode();
                    }else {
                        alert("优惠券链接有误。（无法获取优惠券信息）！");
                    }

                }
            });
        }

        function getCouponURLQRcode(){
            var inputLink = $("#inputLink").val();
            var couponurl = $("#inputCouponurl").val();
            $.ajax({
                type: "POST",
                url: "${adminPath}/shop/TtaskBase/getCouponURLQRcode",
                contentType:'application/json;charset=utf-8',
                data: JSON.stringify({"couponurl":couponurl,"inputLink":inputLink}),
                dataType: "json",
                success: function(data){
                    if(data.code==200){
                        $("#qrcodeurl").attr("src",data.filePath);
                    }else {
                        $("#qrcodeurl").attr("src","");
                        alert("生成二维码失败！"+data.message);
                    }
                }
            });
        }
        selectopen();
        function selectopen(){
            $.ajax({
                type: "POST",
                url: "${adminPath}/shop/TshopBase/selMyShowBaseList",
                dataType: "json",
                success: function(json){
                    for (var i = 0; i < json.length; i++) {
                        $("#storename").append("<option value='"+json[i].id+"'>"+json[i].shopname+"</option>");
                    }
                    $("#storename").val("${tb.storename}");
                }
            });
        }
        // if("${tb.effectdate}"!=null&&"${tb.effectdate}"!=""){
        //     $("#effectdate").val(dateFtt("yyyy-MM-dd",new Date("${tb.effectdate}")));
        // }
        function sum(tasknum,actualprice){
            var data={};
            data.actualprice = actualprice;
            $.ajax({
                type: "POST",
                url: "${adminPath}/shop/TtaskBase/getTshopGrade",
                contentType:'application/json;charset=utf-8',
                data: JSON.stringify(data),
                dataType: "json",
                success: function(data){
                    $('#presentdepositID').val(data.msg);
                    if(data.msg==-100){
                        alert("实付金额超出限制！");
                        return;
                    }
                    $('#presentdeposit').html(data.msg);
                    if(tasknum!=undefined&&actualprice!=undefined&&tasknum!=""&&actualprice!=""){
                        $('#presentdepositsum').html(tasknum*actualprice+(data.msg*tasknum));
                    }
                }
            });
        }
        function dateFtt(fmt,date)
        { //author: meizz
            var o = {
                "M+" : date.getMonth()+1,                 //月份
                "d+" : date.getDate(),                    //日
                "h+" : date.getHours(),                   //小时
                "m+" : date.getMinutes(),                 //分
                "s+" : date.getSeconds(),                 //秒
                "q+" : Math.floor((date.getMonth()+3)/3), //季度
                "S"  : date.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt))
                fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)
                if(new RegExp("("+ k +")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            return fmt;
        }
</script>
<script>
    //执行一个laydate实例
    laydate.render({
        elem: '#effectdate' //指定元素
        ,type: 'datetime'
    });
</script>
</html>
