<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>发布任务数量</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="css/fileinput.min.css">
<link rel="stylesheet" href="css/ProjectGlobal.css">
<link rel="stylesheet" href="css/global.css">
<script src='js/jquery-3.3.1.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/fileinput.min.js'></script>
<script src='js/fileinput.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<!-- 用户信息栏 -->
    <div class='user_info'>
        <div class="row">
            <div class="col-md-6">
                <span class='border_r'>150000000000</span>
                <a href="#">退出</a>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-7">
                        <span class='border_r'><a href="#">充值押金</a></span>
                        <span class='border_r'><a href="#">充值符点</a></span>
                        <span><a href="#">延长技术服务时长</a></span>
                </div>
               <div class="col-md-5">
                    <span>押金：<b class='red_font'>100</b>元</span>
                    <span>获赢符：<b class='red_font'>10</b>点</span>
               </div>
            </div>
        </div>
    </div>
    <!-- 广告轮播 -->
    <!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/banner_01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_02.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_03.png" alt="">
            </div>
        </div>
    </div> -->
    <!-- 标题栏 -->
    <!-- <div class="main_tab">
        <div class="row">
            <div class="col-md-2">
                <img src="img/huoyingfu.png" alt="">
            </div>
            <div class='col-md-8'>
                <div>
                    <a href="#">邀请返利</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">符点夺宝</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">琳琅试用</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气猪</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">迅达测速</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气宝盒</a>
                    <img src="img/hot.gif" alt="">
                </div>
            </div>
            <div class="col-md-2">
                个人中心
            </div>
        </div>
    </div> -->
    <!-- 主体 -->
    <div class='main_container'>
            <div class="get-menu">
                <a href="#">商家</a>
                <span>></span>
                <a class="A1" href="#">发布任务</a>
            </div>
            <img style='width:100%' src="img/banner_01_1.png" alt="">
             <!-- 发布任务 -->
             <div class='task_area_tab'>
                <div class="row">
                    <div class="col-md-2">发布任务</div>
                    <div class="col-md-10">
                        <ul>
                            <li class='active'>
                                <em class='process'>1</em>
                                <span>选任务类型</span>
                            </li>
                            <li class='active'>
                                <em class='process'>2</em>
                                <span>填写商品信息</span>
                            </li>
                            <li>
                                <em class='process'>3</em>
                                <span>选择任务数量</span>
                            </li>
                            <li>
                                <em>4</em>
                                <span>选增值服务</span>
                            </li>
                            <li>
                                <em>5</em>
                                <span>支付</span>
                            </li>
                            <li class='last'>
                                <em>6</em>
                                <span>发布成功</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-3"><b>第三步：选择任务单数</b></div>
                    <div class="col-md-offset-4 col-md-4">
                        <span>已选择：</span>
                        <ul>
                            <li>淘宝</li>
                            <li>凡客</li>
                            <li>文字好评订单</li>
                        </ul>
                    </div>
                </div>
                <div class='choose_task_number'>
                    <div style='display:none' class='warn_info'>请先选择单数</div>
                    <p>1.选择任务单数</p>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 1单
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3"> 3单
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5"> 5单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="10"> 10单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="20"> 20单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="100"> 100单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="250"> 250单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="自定义"> 自定义
                            <input type="number" min="0">单
                            <span>（1-500单）</span>
                        </label>
                    </div>
                    <div>
                       <b>
                            <span class='red_font'>注意</span>
                        ：近日发现商家因为没控制好转化率导致商品降权，我们在此建议商家在发布任务的时候注意控制店铺整体转化率，任务商品的转化率，以及自然搜索的转化率，不要高于您商品所在类目的平均转化，确保店铺流量足以支撑发布任务的数量
                        </b>
                    </div>
                </div>
                <div class='task_keyword_settings'>
                    <p>2.请设置成交关键词分布 <span>注：各关键词订单总数需要为<b class='red_font'>0</b>单</span></p>
                    <div>
                        淘宝关键词1：凡客旗舰店
                        <input type="number" min="0">
                        单
                    </div>
                    <span class='error'>您的订单总数应该为<b class="red_font"></b>单</span>
                </div>
                <div class='task_order_tips'>
                    <p>3.下单提示<span>注：买手接任务时可看见该提示，提示内容自由填写，如：商品在第*页*行、聊天时不要问发货地和哪家快递等。属可选项，限<b class="red_font">50</b>字内</span></p>
                    <div>
                        <p class="red_font">（下单提示仅作为参考使用，不具有强制性）</p>
                        <textarea name="" id="" cols="30" rows="2" maxlength="50"></textarea>
                    </div>
                </div>
                <div class='task_free_total'>
                    <p>费用小计</p>
                    <div class='row'>
                        <div class="lf">
                            任务费用：
                            <span class='red_font'>25.50</span>
                            获赢符点/单x
                            <span>0</span>
                            单
                        </div>
                        <div class='rt'>
                            <span class='red_font'>0</span>
                            点获赢符
                        </div>
                    </div>
                </div>
            </div>

            <div class='prev_next'>
                <a href="#" class='prev'>上一步</a>
                <a href="javascript:;" class='next' onclick='nextStep()'>下一步</a>
            </div>
    </div>
</body>
<script>
       //单数的选择
       var number=0;
       $('.choose_task_number input[type=radio]').click(function(){
           if($(this).val()=='自定义'){
               $(this).next().focus()
           }else{
               number=$(this).val()
               console.log(number)
               CalculationPrice(number)
           }
       })
       $('.choose_task_number input[type=number]').bind('blur',function(){
           if($(this).val()<0||$(this).val()>500){
               alert("请输入正确的范围！")
               $(this).focus()
           }else{
               number=$(this).val()
               CalculationPrice(number)
           }
       })
       $('.choose_task_number input[type=number]').bind('focus',function(){
           $(this).val('1').prev().prop('checked',true)

       }
       )
       //计算价格
       var price=20.5//单价
       function  CalculationPrice(num){
            var aHtml;
            aHtml="<p>费用小计</p><div class='row'><div class='lf'>任务费用：<span class='red_font'>"+price+"</span>获赢符点/单x<span>"+num+"</span>单</div>"
            aHtml+="<div class='rt'><span class='red_font'>"+(price*num)+"</span>点获赢符</div></div>"
            $('.task_keyword_settings p b').html(num)
            $('.task_keyword_settings span b').html(num)
            $('.task_free_total').html(aHtml)
       }
       //点击下一页
       function nextStep(){
           var inputNum=$('.task_keyword_settings input[type=number]').val()//输入框输入的数字
           var priceNum=$('.task_keyword_settings p b').html()//当前选中的数量
           if(priceNum==0){
            $('html,body').animate({scrollTop:0},1000)
            $('.warn_info').show()
           }else if(inputNum==''||inputNum!==priceNum){
            $('.task_keyword_settings span').show()
            $('.warn_info').hide()
        }else{
            var tips=$('.task_order_tips textarea').val()
            $('.task_keyword_settings span').hide()
            //请求
            window.localStorage.setItem("order_num",inputNum)
            $('.next').prop('href','./ChooseIncrementService.html')
        }
       }
</script>
</html>
