<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>发布任务数量</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="css/fileinput.min.css">
<link rel="stylesheet" href="css/ProjectGlobal.css">
<link rel="stylesheet" href="css/global.css">
<script src='js/jquery-3.3.1.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/fileinput.min.js'></script>
<script src='js/fileinput.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<!-- 用户信息栏 -->
    <div class='user_info'>
        <div class="row">
            <div class="col-md-6">
                <span class='border_r'>150000000000</span>
                <a href="#">退出</a>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-7">
                        <span class='border_r'><a href="#">充值押金</a></span>
                        <span class='border_r'><a href="#">充值符点</a></span>
                        <span><a href="#">延长技术服务时长</a></span>
                </div>
               <div class="col-md-5">
                    <span>押金：<b class='red_font'>100</b>元</span>
                    <span>获赢符：<b class='red_font'>10</b>点</span>
               </div>
            </div>
        </div>
    </div>
    <!-- 广告轮播 -->
    <!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/banner_01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_02.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/banner_03.png" alt="">
            </div>
        </div>
    </div> -->
    <!-- 标题栏 -->
    <!-- <div class="main_tab">
        <div class="row">
            <div class="col-md-2">
                <img src="img/huoyingfu.png" alt="">
            </div>
            <div class='col-md-8'>
                <div>
                    <a href="#">邀请返利</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">符点夺宝</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">琳琅试用</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气猪</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">迅达测速</a>
                    <img src="img/hot.gif" alt="">
                </div>
                <div>
                    <a href="#">人气宝盒</a>
                    <img src="img/hot.gif" alt="">
                </div>
            </div>
            <div class="col-md-2">
                个人中心
            </div>
        </div>
    </div> -->
    <!-- 主体 -->
    <div class='main_container'>
            <div class="get-menu">
                <a href="#">商家</a>
                <span>></span>
                <a class="A1" href="#">发布任务</a>
            </div>
            <img style='width:100%' src="img/banner_01_1.png" alt="">
             <!-- 发布任务 -->
             <div class='task_area_tab'>
                <div class="row">
                    <div class="col-md-2">发布任务</div>
                    <div class="col-md-10">
                        <ul>
                            <li class='active'>
                                <em class='process'>1</em>
                                <span>选任务类型</span>
                            </li>
                            <li class='active'>
                                <em class='process'>2</em>
                                <span>填写商品信息</span>
                            </li>
                            <li>
                                <em class='process'>3</em>
                                <span>选择任务数量</span>
                            </li>
                            <li>
                                <em>4</em>
                                <span>选增值服务</span>
                            </li>
                            <li>
                                <em>5</em>
                                <span>支付</span>
                            </li>
                            <li class='last'>
                                <em>6</em>
                                <span>发布成功</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-3"><b>第三步：选择任务单数</b></div>
                    <div class="col-md-offset-4 col-md-4">
                        <span>已选择：</span>
                        <ul>
                            <li>淘宝</li>
                            <li>凡客</li>
                            <li>文字好评订单</li>
                        </ul>
                    </div>
                </div>
                <div class='choose_task_number'>
                    <p>1.选择任务单数</p>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1单
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 3单
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 5单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 10单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 20单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 100单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 250单
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 自定义
                            <input type="number">单
                            <span>（1-500单）</span>
                        </label>
                    </div>
                    <div>
                       <b>
                            <span class='red_font'>注意</span>
                        ：近日发现商家因为没控制好转化率导致商品降权，我们在此建议商家在发布任务的时候注意控制店铺整体转化率，任务商品的转化率，以及自然搜索的转化率，不要高于您商品所在类目的平均转化，确保店铺流量足以支撑发布任务的数量
                        </b>
                    </div>
                </div>
                <div class='task_keyword_settings'>
                    <p>2.请设置成交关键词分布 <span>注：各关键词订单总数需要为<b class='red_font'>10</b>单</span></p>
                    <div>
                        淘宝关键词1：凡客旗舰店
                        <input type="number">
                        单
                    </div>
                </div>
                <div class='task_order_tips'>
                    <p>3.下单提示<span>注：买手接任务时可看见该提示，提示内容自由填写，如：商品在第*页*行、聊天时不要问发货地和哪家快递等。属可选项，限<b class="red_font">50</b>字内</span></p>
                    <div>
                        <p class="red_font">（下单提示仅作为参考使用，不具有强制性）</p>
                        <textarea name="" id="" cols="30" rows="2"></textarea>
                    </div>
                </div>
                <div class='task_free_total'>
                    <p>费用小计</p>
                    <div class='row'>
                        <div class="lf">
                            任务费用：
                            <span class='red_font'>25.50</span>
                            获赢符点/单x
                            <span>10</span>
                            单
                        </div>
                        <div class='rt'>
                            <span class='red_font'>255</span>
                            点获赢符
                        </div>
                    </div>
                </div>
            </div>

            <div class='prev_next'>
                <a href="#" class='prev'>上一步</a>
                <a href="#" class='next'>下一步</a>
            </div>
    </div>
</body>
<script src='js/swiper-3.4.2.min.js'></script>
<script>
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 2000,//可选选项，自动滑动
        })
        $(document).on('ready', function() {
            $("#jobData").fileinput({showCaption: true, dropZoneEnabled: true});
            });
        function loadFile(file,i){
            console.log(file)
            $('#good_pic'+i).attr('src','img/'+file.name)
        }
        function addKeyword(num){

            var len=$('.good_keyword').eq(num).children('.item').length
            console.log(len)
            // if('')
            if(len>3){
                return
            }
            var item= `<div class='item'>
                            <p>关键字来源${len+1}：</p>
                            <label for="">让买手在<b class='red_font'>taobao.com</b>搜索关键字进入“搜索列表”</label>
                            <input type="text must-fill">
                            <span class='red_font'>必填</span>
                            <div class='good_cond'>
                                <p>
                                    <label for="">规格：</label>
                                    <input type="text" placeholder="如：颜色">
                                    <input type="text" placeholder="如：尺寸">
                                    <span class='color_0'>非必填</span>
                                </p>
                                <p>
                                    <label for="">在当前列表中，告诉买手通过筛选分类找到商品</label>
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <span class='color_0'>最多四个分类，非必填</span>
                                </p>
                             </div>
                        </div>`
            
            $('.good_keyword').append(item)
            console.log($('.good_keyword'))
        }
        //
        $('.panel-title a').click(function(){
            var status=Boolean($(this).attr('aria-expanded'))
            console.log(status)
            if(status==false){
                status=true
            }
            else{
               status=false
            }
            console.log($(this).children('[type=checkbox]').prop('checked'))
            $(this).children('[type=checkbox]').prop('checked',status)
        })
        // 必填项失去焦点基本验证
        $('.must-fill').bind('blur',function(){
            if($(this).val()==''){
            $(this).css('border','1px solid red').focus()
            }else{
            $(this).css('border','1px solid #ddd')
            }
        })
        //点击提交按钮
       var inputObject={}
       function TaskConfirm(index){
           if(index=='0'){
              var inputArr=new Array()
              var len=$('.must-fill').length
                for(var i=0;i<len;i++){
                    if($('.must-fill').eq(i).val()==''){
                        $('.must-fill').eq(i).css('border','1px solid red').focus()
                    }else{
                        $('.must-fill').eq(i).val()
                        inputArr.push($('.must-fill').eq(i).val())
                        console.log(i)
                        switch(i){
                            case 0:
                            inputObject.goodLink=$('.must-fill').eq(0).val()
                            break;
                            case 1:
                            inputObject.goodTitle=$('.must-fill').eq(1).val()
                            break;
                            case 2:
                            inputObject.goodSalePrice=$('.must-fill').eq(2).val()
                            break;
                            case 3:
                            inputObject.goodSaleNum=$('.must-fill').eq(3).val()
                            break
                        }
                    }
                }
                console.log(inputArr)
           }
       }
</script>
</html>
