<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TapplyTaskBuyerMapper" >
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
    <!-- 更新状态 -->
    <update id="updateTapplyTaskBuyerStatus" parameterType="cn.jeeweb.web.ebp.buyer.entity.TapplyTaskBuyer">
        update
            t_apply_task_buyer
        set
            handle_time=#{handleTime},handle_man=#{handleMan},handle_method=#{handleMethod},apply_status=#{applyStatus}
        where
            id=#{id}
    </update>

  <!-- 分页列表查询-->
  <select id="selectApplyPageList" resultType="cn.jeeweb.web.ebp.buyer.entity.TapplyTaskBuyer">
      SELECT
            id, apply_type,buyer_task_no,buyer_task_id,buyer_id,buyer_no,shop_id,shop_name,shop_task_id,goods_name,apply_status,apply_desc,apply_time,handle_time,handle_man,handle_method,remarks
      from
            t_apply_task_buyer t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>

</mapper>