<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TBuyerLevelMapper">

    <resultMap id="TbuyerLevel" type="cn.jeeweb.web.ebp.buyer.entity.TBuyerLevel">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result property="levelCode" column="level_code" jdbcType="VARCHAR"/>
        <result property="levelName" column="level_name" jdbcType="VARCHAR"/>
        <result property="preLevelCode" column="pre_level_code" jdbcType="VARCHAR"/>
        <result property="nextLevelCode" column="next_level_code" jdbcType="VARCHAR"/>
        <result property="commissionType" column="commission_type" jdbcType="INTEGER"/>
        <result property="commissionValue" column="commission_value" jdbcType="DECIMAL"/>
        <result property="commissionRatio" column="commission_ratio" jdbcType="DECIMAL"/>
        <result property="minimumWage" column="minimum_wage" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="selectBuyerLevelPageList" resultMap="TbuyerLevel">
        SELECT
            bl.id,bl.level_code,bl.level_name,bl.pre_level_code,bl.next_level_code,bl.commission_ratio,bl.commission_type,bl.minimum_wage,bl.commission_value,
            (select tmp.level_name from t_buyer_level tmp where tmp.level_code=bl.pre_level_code) preLevelName,
            (select tmp.level_name from t_buyer_level tmp where tmp.level_code=bl.next_level_code) nextLevelName,
            bl.create_by,bl.create_date,bl.update_by,bl.update_date,bl.remarks,bl.del_flag
        FROM
        t_buyer_level bl
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

    <select id="selectBuyerLevelById" resultMap="TbuyerLevel" parameterType="String">
        SELECT
            bl.id,bl.level_code,bl.level_name,bl.pre_level_code,bl.next_level_code,bl.commission_ratio,bl.commission_type,bl.minimum_wage,bl.commission_value,
            (select tmp.level_name from t_buyer_level tmp where tmp.level_code=bl.pre_level_code) preLevelName,
            (select tmp.level_name from t_buyer_level tmp where tmp.level_code=bl.next_level_code) nextLevelName,
            bl.create_by,bl.create_date,bl.update_by,bl.update_date,bl.remarks,bl.del_flag
        FROM
        t_buyer_level bl
        where
          bl.id=#{id}
    </select>

    <select id="getBuyerLevelByName" parameterType="HashMap" resultType="int">
        SELECT
          count(*)
        FROM
          t_buyer_level
        where
          level_name=#{map.levelName} and del_flag=0 and id not in ('${map.levelId}')
    </select>
    <select id="getBuyerLevelByCode" parameterType="HashMap" resultType="int">
        SELECT
          count(*)
        FROM
          t_buyer_level
        where
          level_code=#{map.levelCode} and del_flag=0 and id not in ('${map.levelId}')
    </select>

    <update id="updateBuyerLevel" parameterType="cn.jeeweb.web.ebp.buyer.entity.TBuyerLevel">
      update
        t_buyer_level
      set
        level_name=#{levelName},commission_type=#{commissionType},commission_ratio=#{commissionRatio},commission_value=#{commissionValue},minimum_wage=#{minimumWage},
        update_date=#{updateDate},update_by=#{updateBy.id}
      where
        id=#{id}
  </update>

</mapper>