<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TbuyerInfoMapper" >
  <resultMap id="TbuyerInfo" type="cn.jeeweb.web.ebp.buyer.entity.TbuyerInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result property="buyerName" column="buyerName" jdbcType="VARCHAR" />
    <result property="loginName" column="loginName" jdbcType="VARCHAR" />
    <result property="accountLevel" column="accountLevel" jdbcType="VARCHAR" />
    <result property="phoneNum" column="phoneNum" jdbcType="NUMERIC" />
    <result property="totalMoney" column="totalMoney" jdbcType="NUMERIC" />
    <result property="withdrawalMoney" column="withdrawalMoney" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
  
  <select id="selectUserList" resultMap="TbuyerInfo">
	  select
   	    <include refid="Base_Column_List" />
      from T_shop_Info t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>

</mapper>