<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TmyTaskMapper" >
  <resultMap id="TmyTask" type="cn.jeeweb.web.ebp.buyer.entity.TmyTask" >
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result property="mytaskno" column="mytaskno" jdbcType="VARCHAR" />
      <result property="totalprice" column="totalprice" jdbcType="DOUBLE" />
      <result property="state" column="state" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
  
  <select id="selectUserList" resultMap="TmyTask">
	  select
   	    <include refid="Base_Column_List" />
      from T_my_Task t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>


</mapper>