<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TmyTaskDetailMapper" >
  <resultMap id="TmyTaskDetail" type="cn.jeeweb.web.ebp.buyer.entity.TmyTaskDetail" >
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result property="buyerid" column="buyerid" jdbcType="VARCHAR" />
      <result property="taskid" column="taskid" jdbcType="VARCHAR" />
      <result property="taskstate" column="taskstate" jdbcType="VARCHAR" />
      <result property="goodsname" column="goodsname" jdbcType="VARCHAR" />
      <result property="tasktype" column="tasktype" jdbcType="VARCHAR" />
      <result property="commision" column="commision" jdbcType="DOUBLE" />
      <result property="pays" column="pays" jdbcType="DOUBLE" />
      <result property="buyerjdnick" column="buyerjdnick" jdbcType="VARCHAR" />
      <result property="jdorderno" column="jdorderno" jdbcType="VARCHAR" />
      <result property="buyerclient" column="buyerclient" jdbcType="VARCHAR" />
      <result property="expressno" column="expressno" jdbcType="VARCHAR" />
      <result property="evaluate" column="evaluate" jdbcType="VARCHAR" />
      <result property="taskstatus" column="taskstatus" jdbcType="VARCHAR" />
      <result property="mytaskid" column="mytaskid" jdbcType="VARCHAR" />
      <result property="taskshopurl" column="taskshopurl" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
  
  <select id="selectUserList" resultMap="TmyTaskDetail">
	  select
   	    <include refid="Base_Column_List" />
      from T_my_Task_Detail t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>

    <select id="listDetail" resultMap="TmyTaskDetail">
        select t.*,bi.buyerName buyeridName,bi.loginname buyeridLogin,s.shopname shopidName,s.loginname shopLoginname,sb.shopname,tb.article from T_my_Task_Detail t
        left join t_task_base tb on t.taskid=tb.id left join t_shop_base sb on tb.storename=sb.id
        left join t_shop_info s on tb.shopid = s.userid left join t_buyer_info bi on t.buyerid=bi.userid
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

    <select id="listDetailGroup" resultMap="TmyTaskDetail">
        select DATE_FORMAT(receivingdate,'%Y-%m-%d %H:%i') receivingdates,DATE_FORMAT(orderdate,'%Y-%m-%d %H:%i') orderdates,buyerjdnick,jdorderno,taskstate,
        bi.buyerName buyeridName,bi.loginname buyeridLogin,s.shopname shopidName,s.loginname shopLoginname,sb.shopname,sum(t.pays) pays from T_my_Task_Detail t
        left join t_task_base tb on t.taskid=tb.id left join t_shop_base sb on tb.storename=sb.id
        left join t_shop_info s on tb.shopid = s.userid left join t_buyer_info bi on t.buyerid=bi.userid
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>


    <select id="selBaseIdMyTaskDetailList" resultMap="TmyTaskDetail">
        select t.*,s.realname buyeridName from T_my_Task_Detail t,sys_user s where t.buyerid=s.id and t.taskId=#{taskId}
    </select>

    <select id="sumMyTask" resultType="java.lang.Integer">
        select count(1) from T_my_Task_Detail t,sys_user s where t.buyerid=#{map.userid} and t.taskstate=#{map.taskstate}
    </select>

    <select id="groupBytaskstatus" resultType="java.util.Map">
        select taskstatus,count(1) counts from T_my_Task_Detail t where t.taskId=#{taskId} group by taskstatus
    </select>

    <select id="selectMytaskList" resultMap="TmyTaskDetail">
        select t.*,sb.shopname,tb.imgurl,tb.t_Price tPrice,tb.keyword,tb.qrcodeurl,tb.spec1,tb.spec2,tb.t_Url tUrl
        ,tb.brand
        from T_my_Task_Detail t,t_task_base tb,t_shop_base sb,sys_user s where
        t.taskid=tb.id and tb.storename=sb.id and t.buyerid=s.id and t.mytaskid=#{mytaskid}
    </select>

    <select id="groupBytaskstate" resultType="java.util.Map">
        select taskstate,count(1) counts from T_my_Task_Detail t where t.taskId=#{taskId} group by taskstate
    </select>

    <select id="sumNumAndPrice" resultType="java.util.Map">
        select sum(pays) sumPrice,count(1) sumNum,
        sum(case when taskstate=4 then pays else 0 end) as sumFinishPrice,
        sum(case when taskstate=3 then pays else 0 end) as sumDeliveryPrice,
        sum(case when taskstate=2 then pays else 0 end) as sumOrderPrice
         from t_my_task_detail t,t_my_task m where 1=1
         and t.mytaskid = m.id
         and t.create_by=#{map.userid}
        <if test="map.state != '' and map.state != null">
            and m.state = #{map.state}
        </if>
         and (t.create_date BETWEEN #{map.create1} and #{map.create2})
    </select>

    <select id="listFinanceBuyerReport" resultType="java.util.Map">
        select DATE_FORMAT(t.create_date,'%Y-%m-%d') countCreateDate,b.buyerName,b.loginName,b.userid,
        sum(pays) sumPrice,count(1) sumNum,
        sum(case when taskstate=4 then 1 else 0 end) as sumFinishNum,
        sum(case when taskstate=4 then pays else 0 end) as sumFinishPrice,
        sum(case when taskstate=3 then pays else 0 end) as sumDeliveryPrice,
        sum(case when taskstate=2 then pays else 0 end) as sumOrderPrice
        from t_my_task_detail t,t_buyer_info b where 1=1
        and t.buyerid = b.userid
        <if test="map.buyerName != '' and map.buyerName != null">
            and b.buyerName like #{map.buyerName}
        </if>
         and (t.create_date BETWEEN #{map.createDate1} and #{map.createDate2})
        group by DATE_FORMAT(t.create_date,'%Y-%m-%d'),b.buyerName,b.loginName,b.userid
        order by DATE_FORMAT(t.create_date,'%Y-%m-%d')
    </select>
    <select id="listNoSendGood"  resultMap="TmyTaskDetail">
        SELECT * from t_my_task_detail where taskstate='2' and timestampdiff(hour,orderdate,now()) >= 24;
    </select>

    <select id="sumTaskBase" resultType="java.lang.Integer">
        select count(1) from T_my_Task_Detail t where t.taskid=#{map.taskid} LIMIT 50
    </select>
</mapper>