<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.buyer.mapper.TmyTaskDetailMapper" >
  <resultMap id="TmyTaskDetail" type="cn.jeeweb.web.ebp.buyer.entity.TmyTaskDetail" >
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result property="buyerid" column="buyerid" jdbcType="VARCHAR" />
      <result property="taskid" column="taskid" jdbcType="VARCHAR" />
      <result property="taskstate" column="taskstate" jdbcType="VARCHAR" />
      <result property="goodsname" column="goodsname" jdbcType="VARCHAR" />
      <result property="tasktype" column="tasktype" jdbcType="VARCHAR" />
      <result property="commision" column="commision" jdbcType="DOUBLE" />
      <result property="pays" column="pays" jdbcType="DOUBLE" />
      <result property="buyerjdnick" column="buyerjdnick" jdbcType="VARCHAR" />
      <result property="jdorderno" column="jdorderno" jdbcType="VARCHAR" />
      <result property="buyerclient" column="buyerclient" jdbcType="VARCHAR" />
      <result property="expressno" column="expressno" jdbcType="VARCHAR" />
      <result property="evaluate" column="evaluate" jdbcType="VARCHAR" />
      <result property="taskstatus" column="taskstatus" jdbcType="VARCHAR" />
      <result property="mytaskid" column="mytaskid" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
  
  <select id="selectUserList" resultMap="TmyTaskDetail">
	  select
   	    <include refid="Base_Column_List" />
      from T_shop_Info t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>

    <select id="selBaseIdMyTaskList" resultMap="TmyTaskDetail">
        select t.*,s.realname buyeridName from T_my_Task_Detail t,sys_user s where t.buyerid=s.id and t.taskId=#{taskId}
    </select>

    <select id="groupBytaskstatus" resultType="java.util.Map">
        select taskstatus,count(1) counts from T_my_Task_Detail t where t.taskId=#{taskId} group by taskstatus
    </select>

    <select id="selectMytaskList" resultMap="TmyTaskDetail">
        select t.*,sb.shopname,tb.imgurl,tb.actualprice,tb.keyword,tb.qrcodeurl,tb.spec1,tb.spec2 from T_my_Task_Detail t,t_task_base tb,t_shop_base sb,sys_user s where
        t.taskid=tb.id and tb.storename=sb.id and t.buyerid=s.id and t.mytaskid=#{mytaskid}
    </select>

    <select id="groupBytaskstate" resultType="java.util.Map">
        select taskstate,count(1) counts from T_my_Task_Detail t where t.taskId=#{taskId} group by taskstate
    </select>
</mapper>