<% layout('/layouts/form.html', {title: '买手信息', formId: 'tbuyerInfoForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>
<#form:form id="tbuyerInfoForm" modelAttribute="data" method="post" class="form-horizontal">
	<#form:hidden path="id"/>
	<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
		<tbody>
			<tr>
				<td  class="width-15 active text-right"><label>买手编号:</label></td>
				<td  class="width-35" >
					${data.loginname}
				</td>
				<td  class="width-15 active text-right">买手名称:</label></td>
				<td  class="width-35" >
					${data.buyername}
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label>联系电话:</label>
				</td>
				<td class="width-35" >
					${data.phone}
				</td>
				<td  class="width-15 active text-right">
					<label>冻结状态:</label>
				</td>
				<td class="width-35" >
					${data.freezeStatusName}
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label>买手等级:</label>
				</td>
				<td class="width-35" >
					${data.levelName}
				</td>
			</tr>
		</tbody>
	</table>
</#form:form>
<% } %>
<#html:js name="suggest" />