<% layout('/layouts/form.html', {title: '买手信息', formId: 'tbuyerInfoForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>
<#form:form id="tbuyerInfoForm" modelAttribute="data" method="post" class="form-horizontal">
	<#form:hidden path="id"/>
	<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
		<tbody>
			<tr>
				<td  class="width-15 active text-right"><label><font color="red">*</font>买手编号:</label></td>
				<td  class="width-35" >
					<#form:input path="loginname" class="form-control"   htmlEscape="false"  datatype="*"  nullmsg="买手编号！"/>
					<label class="Validform_checktip"></label>
				</td>
				<td  class="width-15 active text-right"><label><font color="red">*</font>买手名称:</label></td>
				<td  class="width-35" >
					<#form:input path="buyername" class="form-control"   htmlEscape="false"  datatype="*"  nullmsg="买手名称！"/>
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>联系电话:</label>
				</td>
				<td class="width-35" >
					<#form:input path="phone" class="form-control"   datatype="*" nullmsg="请输入联系电话！"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>冻结状态:</label>
				</td>
				<td class="width-35" >
					<#form:input path="freezeStatus" class="form-control"   datatype="*" nullmsg="请输入冻结状态！"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>买手等级:</label>
				</td>
				<td class="width-35" >
					<#form:input path="accountlevel" class="form-control"   datatype="*" nullmsg="请输入买手等级！"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
				<td  class="width-15 active text-right">
					<label>每单佣金:</label>
				</td>
				<td class="width-35" >
					<label>￥</label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>所属分组:</label>
				</td>
				<td class="width-35"  colspan="3">
					<#form:combox nested="false" idField="id" keyField="groupName" effectiveFields="groupName,groupCode,groupLeaderName" multiWord="true" 
					effectiveFieldsAlias="groupCode|分组编号,groupName|分组名称,groupLeaderName|组长" showHeader="true" path="shopid" dataUrl="${adminPath}/buyer/buyergroup/getBuyerGroupSuggest" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
		</tbody>
	</table>
</#form:form>
<% } %>
<#html:js name="suggest" />