<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('买手佣金',''), libs: ''}){ %>

<#grid:grid id="buyerCommissionGroupGrid" url="${adminPath}/buyer/buyerCommission/ajaxBuyerCommissionGrouplList"  multiselect="false" sortname="applyNo" sortorder="desc" sortable="false">
<#grid:column label="月份" width="90" query="true" queryMode="date"  condition="between"  name="buyerTaskNo" align="center"/>
<#grid:column label="买手名称" name="goodsName" query="true" condition="like" width="140" />
<#grid:column label="任务佣金" name="shopName"  width="100" />
<#grid:column label="小组提成" name="buyerNo" width="80" align="center"/>
<#grid:column label="佣金总额" name="applyType" width="80"/>
<#grid:column label="sys.common.opt" name="opt" formatter="button" />
<#grid:button title="详情" groupname="opt" function="rowDialogDetailRefresh" winwidth="1000px" winheight="750px" outclass="btn-danger"  url='${adminPath}/buyer/TmyTaskDetail/getApplyTaskDetail/1/\"+row.id+\"' />
<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>