<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('买手佣金',''), libs: ''}){ %>

<#grid:grid id="buyerCommissionGroupGrid" datatype="local" datas="${sourceList}" multiselect="false"  sortorder="desc" sortable="false">
<#grid:column label="账期" width="90" name="atime" align="center"/>
<#grid:column label="买手名称" name="buyerName" query="true" condition="like" width="140" />
<#grid:column label="任务数量" name="taskNum"  width="100" />
<#grid:column label="任务链接" name="taskLinkNum"  width="100" />
<#grid:column label="任务佣金" name="taskMoney"  width="100" />
<#grid:column label="小组提成" name="groupMoney"  width="80" align="center"/>
<#grid:column label="佣金总额" name="commissionMoney" width="80"/>
</#grid:grid>
<% } %>