<% layout('/layouts/form.html', {title: '买手等级', formId: 'tbuyerLevelForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>
<#form:form id="tbuyerLevelForm" modelAttribute="data" method="post" class="form-horizontal">
	<#form:hidden path="id"/>
	<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
		<tbody>
			<tr>
				<td  class="width-15 active text-right"><label><font color="red">*</font>等级编号:</label></td>
				<td  class="width-35" >
					<#form:input path="levelCode" class="form-control"   htmlEscape="false"  datatype="*"  />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>等级名称:</label>
				</td>
				<td class="width-35" >
					<#form:input path="levelName" class="form-control"   datatype="*" nullmsg="请输入分组名称！"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>上一等级:</label>
				</td>
				<td class="width-35" >
					<#form:input path="preLevelCode" class="form-control"   datatype="*"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>下一等级:</label>
				</td>
				<td class="width-35" >
					<#form:input path="nextLevelCode" class="form-control"   datatype="*"   htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="width-15 active text-right">
					<label><font color="red">*</font>每单佣金:</label>
				</td>
				<td class="width-35" >
					<#form:input path="commissionRatio" class="form-control"   datatype="*" nullmsg="请输每单佣金！"  htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
		</tbody>
	</table>
</#form:form>
<% } %>