<% layout('/layouts/list.html', {title: '买手财务报表-实时', libs: ''}){ %>

<#grid:grid id="listFinanceBuyerReportGrid" url="${adminPath}/buyer/TmyTask/listFinanceBuyerReport" sortname="countcreatedate" sortorder="desc" rowNum="100">
<#grid:column label="日期"  name="countCreateDate" query="true"  queryMode="date" condition="between" />
<#grid:column label="买手名称" width="140"  name="buyerName" query="true" condition="like"/>
<#grid:column label="买手号" width="140"  name="loginName" query="true" condition="like"/>
<#grid:column label="任务总价" width="140"  name="sumPrice" formatter="currency"/>
<#grid:column label="确认下单金额" width="100"  name="sumOrderPrice"  formatter="currency" />
<#grid:column label="链接数" width="100"  name="sumNum"/>

<#grid:toolbar  function="search"  />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>