<% layout('/themes/uadmin/layouts/grid-select.html', {title: @MessageUtils.getMessage('买手财务报表',''), libs: ''}){ %>
<#grid:grid id="TmyTaskDetailGrid" url="${adminPath}/buyer/TmyTaskDetail/${id}/ajaxListDetail" sortname="receivingdate" sortorder="desc" rowNum="20">
<#grid:toolbar title="导出"   icon="fa-download"  onclick="download()"  />
<#grid:column label="平台编号" hidden="${showHidden}"  name="buyeridName"/>
<#grid:column label="平台登录名" hidden="${showHidden}"  name="buyeridLogin"/>
<#grid:column label="完成时间" width="140"  name="orderdate"/>
<#grid:column label="商家号" width="100"  name="shopLoginname"  query="true" condition="like"/>
<#grid:column label="商家名称" width="100"  name="shopidName"  query="true" condition="like"/>
<#grid:column label="店铺名" width="120"  name="shopname" query="true" condition="like"/>
<#grid:column label="SKU" width="100"  name="skuid"/>
<#grid:column label="货号" width="120"  name="article" query="true" condition="like"/>
<#grid:column label="京东账号" width="100"  name="buyerjdnick" query="true" condition="like"/>
<#grid:column label="订单号" width="100"  name="jdorderno" query="true" condition="like"/>
<#grid:column label="订单状态" width="100" formatterColor="5:red;" name="taskstate" dict="taskstate" query="true" queryMode="select" condition="eq" />
<#grid:column label="实付金额" width="100"  name="pays" formatter="currency" />

<#grid:toolbar  function="search"  />
<#grid:toolbar  function="reset" />
</#grid:grid>
<script>
    /**
     * 导出
     * @param rowId
     */
    function download() {
        excelExport("${adminPath}/buyer/TmyTaskDetail/${id}/export","TmyTaskDetailGrid");
    }
</script>
<% } %>