<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('我的列表',''), libs: 'bootstrap-treeview'}){ %>
<div>
    <table cellpadding="10" style="font-size:18px;padding: 10px">
        <tr>
            <td><p>当日任务总价：<span style="color:green;font-weight: bold">${map.sumPrice}&nbsp;&nbsp;&nbsp;</span></p></td>
            <td><p>当日确认下单金额：<span style="color:green;font-weight: bold">${map.sumOrderPrice}&nbsp;&nbsp;&nbsp;</span></p></td>
            <td><p>当日确认发货金额：<span style="color:red;font-weight: bold">${map.sumDeliveryPrice}&nbsp;&nbsp;&nbsp;</span></p></td>
            <td><p>当日链接数：<span style="color:blue;font-weight: bold">${map.sumNum}&nbsp;&nbsp;&nbsp;</span></p></td>
        </tr>
    </table>
    <br>
</div>

<#grid:grid id="taskbase" url="${adminPath}/buyer/TmyTask/ajaxList">
    <#grid:column label="sys.common.key" hidden="true"   name="id" width="100"/>
    <#grid:column label="任务单号"  name="mytaskno" width="100"/>
    <#grid:column label="任务总价"  name="totalprice"  width="80"/>
    <#grid:column label="确认下单金额"  name="orderprice"  width="80"/>
    <#grid:column label="确认发货金额"  name="deliveryprice"  width="80"/>
    <#grid:column label="领取日期"  name="createDate"  width="60"  query="true"  queryMode="date"  condition="between" />
    <#grid:column label="任务状态"  name="state"  width="60" dict="basestate" queryMode="select" width="80" condition="eq" query="true" condition="between" />
    <#grid:column label="sys.common.opt"  name="opt" formatter="button" width="100"/>
    <#grid:button title="详细"  groupname="opt" function="rowDialogDetailRefresh"  winwidth="100%" winheight="100%"  outclass="btn-warning btn-xs" innerclass="fa-search" url='${adminPath}/buyer/TmyTask/\"+row.id+\"/detail' />
    <#grid:toolbar title="领取任务"   icon="fa-download"  onclick="gettask()"  />
    <#grid:toolbar  function="search"  />
    <#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>
<script src='js/jquery-3.3.1.min.js'></script>
<script>
    function gettask(){
        $.ajax({
            type: "POST",
            url: "${adminPath}/shop/TtaskBase/myTaskCreate",
            contentType:'application/json;charset=utf-8',
            dataType: "json",
            success: function(data){
                alert("领取成功!");
                search('taskbase');
            },
            error: function(data){
            }
        });

    }
</script>