<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>任务单详情</title>
<link rel="stylesheet" href="${staticPath}/shop/css/bootstrap.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/fileinput.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/ProjectGlobal.css">
<link rel="stylesheet" href="${staticPath}/shop/css/global.css">
<link rel="stylesheet" href="icomoon/style.css">
<script src='${staticPath}/shop/js/jquery-3.3.1.min.js'></script>
<script src='${staticPath}/shop/js/bootstrap.min.js'></script>
<script src='${staticPath}/shop/js/fileinput.min.js'></script>
<script src='${staticPath}/common/js/curdtools_jqgrid.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <!-- 中间主体 -->
    <div class='main_container task_detail'>
        <div class="get-menu">
            <a href="#">买手</a>
            <span>></span>
            <a class="A1" href="#">任务单</a>
        </div>
         <!--<img style='width:100%' src="img/banner_01_1.png" alt="">-->
        <!-- 任务信息 -->
        <div class='task_detail_seller2'>
            <h4>任务信息</h4>
            <div>
                <div>
                    <p>任务单号：<span>${tmyTask.mytaskno}</span></p>
                </div>
                <div>
                    <p>任务总价：<span>${tmyTask.totalprice}</span></p>
                </div>
            </div>
            <div>
                京东账号：<input type="text" width="120px" id="buyerjdnick">
                <!--订单号：<input type="text" width="120px" id="jdorderno">-->
                <button class='btn btn-warning' onclick="upTaskDetail()">批量保存</button>
            </div>
        </div>
        <!-- 订单详情表格 -->
        <!--<div class=task_table>-->

            <!--<table class="table table-hover">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>买号</th>-->
                        <!--<th>下单终端</th>-->
                        <!--<th>接单时间</th>-->
                        <!--<th>订单号</th>-->
                        <!--<th>订单状态</th>-->
                        <!--<th>快递单号</th>-->
                        <!--<th>退款金额</th>-->
                        <!--<th>确定发货</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody id="tbodyMy">-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!-- 任务商品-->
        <div id="divid">
        </div>

    </div>
</body>
<script>
    $(function(){
        var namelist = ${namelist};
        var list = ${list};
        var yesPicture = "${yesPicture}";
        var divid = "";
        var win = 80;
        for (var i = 0; i < namelist.length; i++) {
            var count = 1;
            divid += "<div class='task_target'>\n";
            divid += "                <h3>"+namelist[i]+"</h3>\n";
            divid += "                <table class=\"table\" "+(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)?"style=\"table-layout: fixed;\"":"")+">\n" ;
            if(!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                win = 110;
                divid += "                    <tr>\n" ;
                divid += "                      <th width='16%'>商品名称</th>\n" ;
                divid += "                      <th width='8%'>搜索关键词</th>\n" ;
                divid += "                      <th width='8%'>品牌</th>\n";
                divid += "                      <th width='10%'>图片</th>\n" ;
                divid += "                      <th width='10%'>二维码</th>\n" ;
                divid += "                      <th width='7%'>订单金额</th>\n" ;
                divid += "                      <th width='7%'>实付金额</th>\n" ;
                divid += "                      <th width='6%'>颜色</th>\n" ;
                divid += "                      <th width='5%'>规格</th>\n" ;
                divid += "                      <th width='12%'>京东账号</th>\n" ;
                divid += "                      <th width='12%'>订单号</th>\n" ;
                divid += "                      <th width='7%'>银行优惠金额</th>\n" ;
                divid += "                      <th width='12%'>订单状态</th>\n" ;
                divid += "                      <th width='8%'>操作</th>\n" ;
                divid += "                    </tr>\n" ;
            }
            for (var j = 0; j < list.length; j++) {
                if(namelist[i]==list[j].shopname){
                    if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                        divid += "                    <tr>\n";
                        divid += "                      <th width='20%'>商品名称</th>\n";
                        divid += "                      <th width='16%'>搜索关键词</th>\n";
                        divid += "                      <th width='16%'>品牌</th>\n";
                        divid += "                      <th width='20%'>图片</th>\n";
                        divid += "                      </tr><tr>\n";
                        divid += "                      <th>二维码</th>\n";
                        divid += "                      <th>京东账号</th>\n";
                        divid += "                      <th>订单号</th>\n";
                        divid += "                      <th>银行优惠金额</th>\n" ;
                        divid += "                      <th>操作</th>\n";
                        divid += "                    </tr>\n";
                    }
                    divid += "<tr>";
                    divid += "<td><a href=\""+(list[j].tUrl==undefined?"":list[j].tUrl)+"\" target=\"_blank\"><span>"+(list[j].goodsname==undefined?"":list[j].goodsname)+"</span></a></td>";
                    divid += "<td><span>"+(list[j].keyword==undefined?"":list[j].keyword)+"</span></td>";
                    divid += "<td><span>"+(list[j].brand==undefined?"":list[j].brand)+"</span></td>";
                    divid += "<td><span><img src=\""+list[j].imgurl+"\"></td>";

                    if(!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                        divid += "<td><img src=\""+list[j].qrcodeurl+"\"></td>";
                        divid += "<td>" + (list[j].tPrice == undefined ? "" : list[j].tPrice) + "</td>";
                        divid += "<td>" + (list[j].pays == undefined ? "" : list[j].pays) + "</td>";
                        divid += "<td>" + (list[j].spec1 == undefined ? "" : list[j].spec1) + "</td>";
                        divid += "<td>" + (list[j].spec2 == undefined ? "" : list[j].spec2) + "</td>";
                    }else {
                        divid += "                      </tr><tr>\n";
                        divid += "<td><img src=\""+list[j].qrcodeurl+"\"></td>";
                    }
                    if(count==1) {
                        divid += "<td><input type='text' style=\"width:" + win + "px;\" id='buyerjdnick_" + list[j].id + "' value='" + (list[j].buyerjdnick == undefined ? "" : list[j].buyerjdnick) + "' onblur=\"upbuyerjdnick(this.value,'" + list[j].id + "')\"></td>";
                        divid += "<td><input type='text' style=\"width:" + win + "px;\" id='jdorderno_" + list[j].id + "' value='" + (list[j].jdorderno == undefined ? "" : list[j].jdorderno) + "' onblur=\"upjdorderno(this.value,'" + list[j].id + "','" + list[j].taskstate + "')\"></td>";
                        divid += "<td><input type='text' style=\"width:60px;\" id='bankamount_" + list[j].id + "' value='" + (list[j].bankamount == undefined ? "" : list[j].bankamount) + "' onblur=\"upbankamount(this.value,'" + list[j].id + "')\"></td>";
                    }else {
                        divid += "<td></td><td></td><td></td>";
                    }
                    if(!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                        divid += "<td>"+(list[j].taskstateName==undefined?"":list[j].taskstateName)+"</td>";
                    }
                    divid += "<td>";
                    if(count==1){
                        if(list[j].errorStatus == "0"){
                            if(list[j].taskstate=="1"){
                                divid += "<p><button class='btn btn-warning' onclick=\"upTask('"+list[j].id+"','2',$(this),'确定下单')\">确定下单</button></p >";
                            }else if(list[j].taskstate=="3"){
                                if(yesPicture.indexOf(list[j].buyerno)==-1){
                                    divid += "<p><button class='btn btn-warning' onclick=\"upTask('"+list[j].id+"','4',$(this),'确定收货')\">确定收货</button></p >";
                                }else {
                                    divid += "<p><button class='btn btn-warning' onclick=\"getupTask('"+list[j].id+"','4',$(this),'确定收货')\">确定收货</button></p >";
                                }
                            }else{
                                divid += "<p><button class='btn btn-warning' onclick=\"upTaskjdorderno('"+list[j].id+"',$(this))\">订单修改</button></p >";
                            }
                        }
                    }
                    if(parseInt(list[j].taskstate)==1&&list[j].errorStatus == "0"){
                        divid += "<p style='margin-top:4px;'><button class='btn btn-warning' onclick=\"unusualTaskApply('"+list[j].id+"')\">异常反馈</button></p >";
                    }
                    divid += "</td>";
                    divid +="</tr>";
                    count++;
                }
            }
            divid +="</tbody></table>\n" +
                "</div>";
        }

        $("#divid").html(divid);
    })
    function dateFtt(fmt,date)
    { //author: meizz
        var o = {
            "M+" : date.getMonth()+1,                 //月份
            "d+" : date.getDate(),                    //日
            "h+" : date.getHours(),                   //小时
            "m+" : date.getMinutes(),                 //分
            "s+" : date.getSeconds(),                 //秒
            "q+" : Math.floor((date.getMonth()+3)/3), //季度
            "S"  : date.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }
    function upTask(id,state,obj,name){
        var buyerjdnick_  = $("#buyerjdnick_"+id).val();
        var jdorderno_  = $("#jdorderno_"+id).val();
        var bankamount_  = $("#bankamount_"+id).val();
        if(buyerjdnick_==""||buyerjdnick_==undefined){
            alert("请填写京东账号");
            return;
        }
        if(jdorderno_==""||jdorderno_==undefined){
            alert("请填写订单号");
            return;
        }
        // if(bankamount_==""||bankamount_==undefined){
        //     alert("请填写银行优惠金额");
        //     return;
        // }
        var a=/^[0-9]*(\.[0-9]{1,2})?$/;
        if(!a.test(bankamount_)){
            alert("银行优惠金额格式不正确");
            return false;
        }
        obj.val('提交中').attr('disabled',true);//改变提交按钮上的文字并将按钮设置为不可点击
        var data={};
        data.id = id;
        data.state = state;
        data.buyerjdnick = buyerjdnick_;
        data.jdorderno = jdorderno_;
        data.bankamount = bankamount_;
        $.ajax({
            type: "POST",
            url: "${adminPath}/buyer/TmyTask/upTaskState",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                alert(data.msg);
                location.reload();
            },
            error: function(){
                obj.val(name).attr('disabled',false);//改变提交按钮上的文字并将按钮设置为可以点击
            }
        });
    }
    function getupTask(id,state,obj,name){
        var url='${adminPath}/buyer/TmyTaskDetail/'+id+'/'+state+'/myTaskPicture';
        top.layer.open({
            type: 2,
            id:"MytaskId",
            area: ["100%", "100%"],
            title: "上传评论",
            maxmin: true, //开启最大化最小化按钮
            content: url ,
            btn: ['确定','关闭'],
            yes : function(index, layero) {
                var iframeWin = layero.find('iframe')[0]; // 得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                var retu = iframeWin.contentWindow.retudata();
                if(retu){
                    //最后关闭弹出层
                    top.layer.close(index); //再执行关闭
                    location.reload();
                }
            }
        });

    }
    function upTaskjdorderno(id,obj){
        var jdorderno_  = $("#jdorderno_"+id).val();
        if(jdorderno_==""||jdorderno_==undefined){
            alert("请填写订单号");
            return;
        }
        obj.attr('disabled',true);//改变提交按钮上的文字并将按钮设置为不可点击
        var data={};
        data.id = id;
        data.jdorderno = jdorderno_;
        $.ajax({
            type: "POST",
            url: "${adminPath}/buyer/TmyTaskDetail/upTaskjdorderno",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                alert(data.msg);
                location.reload();
            },
            error: function(){
                obj.attr('disabled',false);//改变提交按钮上的文字并将按钮设置为可以点击
            }
        });
    }
    function upbuyerjdnick(value,id) {
        if(value!=""&&value!=undefined) {
            $.ajax({
                url: "${adminPath}/buyer/TmyTaskDetail/" + id + "/" + value + "/upbuyerjdnick",
                success: function (data) {
                }
            });
        }
    }
    function upjdorderno(value,id,taskstate) {
        if(taskstate!=1&&taskstate!=3){
            alert("请点击订单提交");
            return;
        }
        if(value!=""&&value!=undefined) {
            $.ajax({
                url: "${adminPath}/buyer/TmyTaskDetail/" + id + "/" + value + "/upjdorderno",
                success: function (data) {
                }
            });
        }
    }
    function upTaskDetail(){
        var buyerjdnick_  = $("#buyerjdnick").val();
        // var jdorderno_  = $("#jdorderno").val();
        //+ "/" +jdorderno_
        $.ajax({
            url: "${adminPath}/buyer/TmyTaskDetail/${tmyTask.id}/" + buyerjdnick_  +"/upTaskDetail",
            success: function (data) {
                alert("操作成功！");
                location.reload();
            }
        });
    }
    function upbankamount(value,id){
        var a=/^[0-9]*(\.[0-9]{1,2})?$/;
        if(!a.test(value)){
            alert("银行优惠金额格式不正确");
            return false;
        }
        var data={};
        data.id = id;
        data.bankamount = value;
        $.ajax({
            type: "POST",
            url: "${adminPath}/buyer/TmyTaskDetail/upBankamount",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                // alert(data.msg);
                // location.reload();
            }
        });
    }
    //异常订单申请
    function unusualTaskApply(id){
        var url="${adminPath}/buyer/TmyTaskDetail/" + id + "/unusualTaskApply";
        //window.open(url);
        openDialogTaskApply("问题反馈",url,"","500px","400px");
    }


    //打开对话框(查看)
    function openDialogTaskApply(title,url,gridId,width,height){
        if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){//如果是移动端，就使用自适应大小弹窗
            width='auto';
            height='auto';
        }else{//如果是PC端，根据用户设置的width和height显示。

        }
        top.layer.open({
            type: 2,
            id:"MytaskId",
            area: [width, height],
            title: title,
            maxmin: true, //开启最大化最小化按钮
            content: url ,
            btn: ['关闭'],
            cancel: function(index){
                //刷新表单
                location.reload();
            }
        });
    }

    function reloads(){
        location.reload();
    }
</script>
</html>