<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>任务单详情</title>
<link rel="stylesheet" href="${staticPath}/shop/css/bootstrap.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/fileinput.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/ProjectGlobal.css">
<link rel="stylesheet" href="${staticPath}/shop/css/global.css">
<link rel="stylesheet" href="icomoon/style.css">
<script src='${staticPath}/shop/js/jquery-3.3.1.min.js'></script>
<script src='${staticPath}/shop/js/bootstrap.min.js'></script>
<script src='${staticPath}/shop/js/fileinput.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <!-- 中间主体 -->
    <div class='main_container task_detail'>
        <div class="get-menu">
            <a href="#">买手</a>
            <span>></span>
            <a class="A1" href="#">任务单</a>
        </div>
         <!--<img style='width:100%' src="img/banner_01_1.png" alt="">-->
        <!-- 任务信息 -->
        <div class='task_detail_seller2'>
            <h4>任务信息</h4>
            <div>
                <div>
                    <p>任务单号：<span>${tmyTask.mytaskno}</span></p>
                </div>
                <div>
                    <p>任务总价：<span>${tmyTask.totalprice}</span></p>
                </div>
            </div>
        </div>
        <!-- 订单详情表格 -->
        <!--<div class=task_table>-->

            <!--<table class="table table-hover">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>买号</th>-->
                        <!--<th>下单终端</th>-->
                        <!--<th>接单时间</th>-->
                        <!--<th>订单号</th>-->
                        <!--<th>订单状态</th>-->
                        <!--<th>快递单号</th>-->
                        <!--<th>退款金额</th>-->
                        <!--<th>确定发货</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody id="tbodyMy">-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!-- 任务商品-->
        <div id="divid">
        </div>

    </div>
</body>
<script>
    $(function(){
        var namelist = ${namelist};
        var list = ${list};
        var divid = "";
        for (var i = 0; i < namelist.length; i++) {
            divid += "<div class='task_target'>\n" +
                "                <h3>"+namelist[i]+"</h3>\n" +
                "                <table class=\"table\">\n" +
                "                  <thead>\n" +
                "                    <tr>\n" +
                "                      <th width='28%'>商品</th>\n" +
                "                      <th width='6%'>单价</th>\n" +
                "                      <th width='8%'>实付金额</th>\n" +
                "                      <th width='10%'>搜索关键字</th>\n" +
                "                      <th width='8%'>任务类型</th>\n" +
                "                      <th width='10%'>京东账号</th>\n" +
                "                      <th width='10%'>订单号</th>\n" +
                "                      <th width='10%'>订单状态</th>\n" +
                "                      <th width='10%'>操作</th>\n" +
                "                    </tr>\n" +
                "                    </thead>\n" +
                "                  <tbody>\n" ;
            for (var j = 0; j < list.length; j++) {
                if(namelist[i]==list[j].shopname){
                    divid += "<tr>";
                    divid += "<td><img src=\""+list[j].imgurl+"\" height=\"160px\" width=\"160px\">&nbsp;&nbsp;&nbsp;<span>"+(list[j].goodsname==undefined?"":list[j].goodsname)+"</span></td>";
                    divid += "<td>"+(list[j].pays==undefined?"":list[j].pays)+"</td>";
                    divid += "<td>"+(list[j].actualprice==undefined?"":list[j].actualprice)+"</td>";
                    divid += "<td>"+(list[j].keyword==undefined?"":list[j].keyword)+"</td>";
                    divid += "<td>"+(list[j].tasktype==undefined?"":list[j].tasktype)+"</td>";
                    divid += "<td><input type='text' style=\"width:80px;\" value='"+(list[j].buyerjdnick==undefined?"":list[j].buyerjdnick)+"' onblur=\"upbuyerjdnick(this.value,'"+list[i].id+"')\"></td>";
                    divid += "<td><input type='text' style=\"width:80px;\" value='"+(list[j].jdorderno==undefined?"":list[j].jdorderno)+"' onblur=\"upjdorderno(this.value,'"+list[i].id+"')\"></td>";
                    divid += "<td>"+(list[j].taskstateName==undefined?"":list[j].taskstateName)+"</td>";
                    divid += "<td><p><button class='btn btn-warning' onclick=\"upTask('"+list[i].id+"','2')\">确定下单</button></p>";
                    divid += "<p><button class='btn btn-warning' onclick=\"upTask('"+list[i].id+"','4')\">确定收货</button></p></td>";
                    divid +="</tr>";
                }
            }
            divid +="</tbody></table>\n" +
                "</div>";
        }

        $("#divid").html(divid);
    })
    function dateFtt(fmt,date)
    { //author: meizz
        var o = {
            "M+" : date.getMonth()+1,                 //月份
            "d+" : date.getDate(),                    //日
            "h+" : date.getHours(),                   //小时
            "m+" : date.getMinutes(),                 //分
            "s+" : date.getSeconds(),                 //秒
            "q+" : Math.floor((date.getMonth()+3)/3), //季度
            "S"  : date.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }
    function upTask(id,state){
        $.ajax({
            url: "${adminPath}/buyer/TmyTask/"+id+"/"+state+"/upTaskState",
            success: function(data){
                alert("操作成功！");
            }
        });
    }
    function upbuyerjdnick(value,id) {
        $.ajax({
            url: "${adminPath}/buyer/TmyTaskDetail/"+id+"/"+value+"/upbuyerjdnick",
            success: function(data){
            }
        });
    }
    function upjdorderno(value,id) {
        $.ajax({
            url: "${adminPath}/buyer/TmyTaskDetail/"+id+"/"+value+"/upjdorderno",
            success: function(data){
            }
        });
    }
</script>
</html>