<!DOCTYPE html>
<% layout('/layouts/form.html', {title: '任务详情', formId: 'tmyTaskForm', bodyClass: 'white-bg', libs: ''}){ %>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>任务详情</title>
<link rel="stylesheet" href="${staticPath}/shop/css/bootstrap.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/fileinput.min.css">
<link rel="stylesheet" href="${staticPath}/shop/css/ProjectGlobal.css">
<link rel="stylesheet" href="${staticPath}/shop/css/global.css">
<link rel="stylesheet" href="${staticPath}/shop/icomoon/style.css">
<script src='${staticPath}/shop/js/jquery-3.3.1.min.js'></script>
<script src='${staticPath}/shop/js/bootstrap.min.js'></script>
<script src='${staticPath}/shop/js/fileinput.min.js'></script>
<script src='${staticPath}/shop/js/fileinput.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body onload="init()">
    <!-- 用户信息栏 -->

    <!-- 中间主体 -->
    <div class='main_container task_detail'>
        <!-- <img style='width:100%' src="img/banner_01_1.png" alt=""> -->
         <!-- 任务详情头部 -->
         <div class='task_area_tab'>
                <h2>任务详情</h2>
                <div>
                    <ul>
                        <li class='active' id="li_1">
                            <em id="em_1" class='process'>1</em>
                            <span>接手任务</span>
                            <span class='time'>${tmyTask.createDate}</span>
                        </li>
                        <li id="li_2">
                            <em id="em_2">2</em>
                            <span></span>
                        </li>
                        <li id="li_3">
                            <em id="em_3">3</em>
                            <span>商家发货</span>
                        </li>
                        <li id="li_4">
                            <em id="em_4">4</em>
                            <span>确认收货</span>
                        </li>
                        <li id="li_5">
                            <em id="em_5">5</em>
                            <span>商家退款</span>
                        </li>
                        <li id="li_6">
                            <em id="em_6">6</em>
                            <span>卖家确认退款</span>
                        </li>
                        <li class='last'  id="li_7">
                            <em id="em_7">7</em>
                            <span>任务完成</span>
                        </li>
                    </ul>
                </div>
         </div>
         <!-- 任务信息 -->
         <div class='task_area_info'>
                <div class='left'>
                    <h4>任务信息</h4>
                    <div>
                        <p>
                             <span>下单终端：</span>
                             <span>手机</span>
                        </p>
                        <p>
                            <span>买号：</span>
                            <span>${tmyTask.buyerid}</span>
                       </p>
                       <p>
                            <span>垫付本金：</span>
                            <span><b class='red_font'>${tmyTask.pays}</b>元</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>返款类型：</span>
                            <span>平台退款</span>
                        </p>
                        <p>
                            <span>返款金额：</span>
                            <span>${tmyTask.pays}</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>任务编号：</span>
                            <span></span>
                        </p>
                        <p>
                            <span>任务接手时间：</span>
                            <span>${tmyTask.createDate}</span>
                        </p>
                        <p>
                            <span>商家账号：</span>
                            <span></span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>关键字评论内容</span>
                            <span> 2018-12-06 19:00:09</span>
                        </p>
                    </div>
                </div>
                <div class='right'>
                    <div>
                        <span>任务状态：</span>
                        <span>
                            ${tmyTask.taskstate}
                        </span>
                    </div>
                </div>
         </div>
         <!-- 任务进展 -->
         <div class='task_area_process'>
            <div class="table-responsive">
                <table class="table">
                  <caption>任务进展</caption>
                  <thead>
                    <tr>
                      <th>服务项目</th>
                      <th>完成时间</th>
                      <th>状态</th>
                      <th>操作</th></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>搜索关键字截图</td>
                      <td>2018-12-09 17:00:23</td>
                      <td></td><td><input type="button" value="上传" onclick="sub()"></td>
                    </tr>
                    <tr>
                      <td>搜索关键字</td>
                      <td>2018-12-09 17:00:23</td>
                        <td></td><td><input type="button"  value="录入"></td>
                    </tr>
                    <tr>
                      <td>下单和支付</td>
                      <td>2018-12-09 17:00:23</td>
                      <td><img src="img/icon-g.png" alt="">买手已完成，订单号：${tmyTask.jdorderno}</td>
                      <td><input type="button"  value="提交"></td>
                    </tr>
                    <tr>
                      <td>商家发货</td>
                      <td>2018-12-09 17:00:23</td>
                      <td>已退货</td> <td></td>
                    </tr>
                    <tr>
                        <td>收货并好评</td>
                        <td>2018-12-09 17:00:23</td>
                        <td>已退货</td><td><input  type="button"  value="提交"> </td>
                    </tr>
                    <tr class='receive_good'>
                        <td>
                            <ul>
                                <li>买号：${tmyTask.buyerid}</li>
                                <li>商品名称： ${tmyTask.goodsname}</li>
                                <li>评价内容：${tmyTask.evaluate}</li>
                                <li>评论截图：<a href="#"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>平台返款</td>
                        <td>2018-12-09 17:00:23</td>
                        <td>已退货</td>
                    </tr>
                    <tr>
                        <td>平台返款完成</td>
                        <td>2018-12-09 17:00:23</td>
                        <td>已退货</td>
                    </tr>
                  </tbody>
                </table>
              </div>
         </div> 
         <!-- 商品信息 -->
         <div class='task_area_goodinfo'>
                <div class="table-responsive">
                    <table class="table">
                        <caption>商品信息</caption>
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>单价（元）</th>
                            <th>数量</th>
                            <th>运费（元）</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img src="img/test.jpeg" alt="">
                                <span>
                                    ${tmyTask.goodsname}
                                </span>
                            </td>
                            <td>${tmyTask.pays}</td>
                            <td>${taskbase.shopid}</td>
                            <td></td>
                        </tr>s
                        </tbody>
                    </table>
                </div>
                <div >买手实付款：<b class='red_font'></b></div>
         </div>
    </div>
</body>
<script src='js/jquery-3.3.1.min.js'></script>
<script>


    function init(){

    }
    function sub(){
        $.ajax({
            url: "${adminPath}/buyer/TmyTask/${tmyTask.id}/updateTaskState",
            contentType:'application/json;charset=utf-8',
            dataType: "json",
            success: function(data){
            },
            error: function(data){
            }
        });

    }

</script>
</html>
<% } %>