<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>图片上传</title>
	<link rel="stylesheet" href="${staticPath}/shop/css/bootstrap.min.css">
	<link rel="stylesheet" href="${staticPath}/shop/css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="${staticPath}/shop/css/fileinput.min.css">
	<link rel="stylesheet" href="${staticPath}/shop/css/ProjectGlobal.css">
	<link rel="stylesheet" href="${staticPath}/shop/css/global.css">
	<script src='${staticPath}/shop/js/jquery-3.3.1.min.js'></script>
	<script src='${staticPath}/shop/js/bootstrap.min.js'></script>
	<script src='${staticPath}/shop/js/fileinput.min.js'></script>
	<script src='${staticPath}/shop/js/ajaxfileupload.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style>
		.tdTextRight{text-align: right;padding-right: 2px;}
		.tdTextLeft{text-align: left;padding-left: 2px;}

		/*文件下载按钮样式*/
		.projectUpload{
			margin-right: 10px;
			border: 1px solid #e4e4e4;
			padding: 5px 10px;
			border-radius: 2px;
			float:left;
		}
		.projectUpload a:first-child{
			color: #666;
		}
		.projectUpload:hover a:first-child{
			text-decoration: underline;
			font-weight: bold;
		}
		.projectUpload a:last-child{
			color: red;
			font-weight: bold;
			font-size: 20px;
		}
	</style>
</head>
<body>
<!-- 中间主体 -->
<div class='main_container task_detail'>
	<div id="div_update">
	</div>
</div>
</body>
<script>
    var idlist = ${idlist};
    var list = ${list};
    $(function(){
        var result = "";
        for (var i =0; i<idlist.length; i++) {
            var textareaName = "";
            result += "<div class='task_target'><table>" ;
            result += "<tr>" ;
            result += "<td class=\"tdTextRight\">评论样例图片：</td>\n" ;
            result += "<td>" ;
            for (var j = 0; j < list.length; j++) {
                if(idlist[i]==list[j].tdid){
                    textareaName = list[j].textareaname;
                    var pourlName = list[j].taskpictureurl.substr(list[j].taskpictureurl.lastIndexOf("/")+1);

                    result += "<span class='projectUpload'><a href='"+list[j].taskpictureurl+"' download='"+pourlName+"' target='_blank'>"+pourlName+"</a></span>";
                }
            }
            result += "<br>" ;
            result += "<textarea id='textareaName"+i+"' style=\"border:0;border-radius:5px;background-color:rgba(241,241,241,.98);width: 355px;height: 100px;padding: 10px;resize: none;\">"+textareaName+"</textarea>" ;
            result += "</td>" ;
            result += "</tr>" ;
            result += "<tr>\n" ;
            result += "<td class=\"tdTextRight\">评论图片：</td>\n";
            result += "<td class=\"tdTextLeft\" id=\"tdstakeName" + i + "\">\n" ;
            result += "<a id=\"uploadbutton" + i + "\" class=\"btn btn-primary btn-small\" onclick=\"filePort({title:'图片',tdname:'tdstakeName" + i + "',dataType:'" + idlist[i] + "',uploadBtnId:'uploadbutton" + i + "'})\">上传</a>\n" ;
            result += "</td>\n" ;
            result += "</tr></table></div>";
        }
        $("#div_update").html(result);
    })

    /**
     * 导入
     * @param conf
     */
    var projectFile = [];
    function filePort(conf){
        if(!conf) conf={};
        var url= "${adminPath}/shop/TtaskBase/taskupload";
        top.layer.open({
            type: 2,
            id:"MytaskId",
            area: ["80%", "80%"],
            title: "图片上传",
            maxmin: true, //开启最大化最小化按钮
            content: url ,
            btn: ['确定','关闭'],
            yes : function(index, layero) {
                var iframeWin = layero.find('iframe')[0]; // 得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                var res = iframeWin.contentWindow.callbackdata();
                //打印返回的值，看是否有我们想返回的值。
                ;

                if(res.pourl!=undefined&&res.pourl!=""){
                    addFileShow(conf.tdname,conf.dataType,res.pourl,conf.uploadBtnId);
				}
                //最后关闭弹出层
                top.layer.close(index); //再执行关闭
            }
        });
    }
    function addFileShow(tdname,dataType,data, uploadBtnId){
		var pourls = data.split(",");

		for(var i=0;i<pourls.length;i++){
            var pourlName = pourls[i].substr(pourls[i].lastIndexOf("/")+1);
            projectFile.push({tdid:dataType,mytaskpictureurl: pourls[i]});
			var td = document.getElementById(tdname);
			var span = document.createElement("span");
			span.className = "projectUpload";


			// var imgName = document.createElement("img");
			// imgName.src = pourls[i];
			// imgName.width = "100px";
			// imgName.height = "100px";

            var aName = document.createElement("a");
            aName.innerText = pourlName;
            aName.href = pourls[i];
            aName.download = pourlName;
            aName.target="_blank";

			var a = document.createElement("a");
			a.innerText = "×";
			a.href = "javaScript:void(0);";
			a.onclick = function(){
				span.remove();
				var index = 0;
				$.each(projectFile, function (m, pf) {
					if (pf.pourl == pourls[i]) index = m;
				});
				projectFile.splice(index,1);
			};
			span.appendChild(aName);
			span.append("  ");
			span.appendChild(a);
			// td.appendChild(span);
			// 要插入的a标签 上传按钮 的id 内容填充在此id之前
            td.insertBefore(span, document.getElementById(uploadBtnId))
		}
    }
    var retudata = function () {
        if(projectFile==undefined||projectFile==null) {
            alert("请上传评论截图！");
			return false;
        }
        var data = {};
        data.id = JSON.stringify(idlist);
        data.picUrl = JSON.stringify(projectFile);

        $.ajax({
            type: "POST",
            async:false,
            url: "${adminPath}/buyer/TmyTask/upTaskStatePicture",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                alert(data.msg);
                top.layer.close(index); //再执行关闭
                top.location.reload();
                return true;
            },
            error: function(){
                return false;
            }
        });
    }
</script>
</html>