<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('问题反馈',''), libs: ''}){ %>

<#grid:grid id="ttaskBaseGrid" url="${adminPath}/buyer/TmyTaskDetail/ajaxApplyTaskList" sortname="applyNo" sortorder="desc" sortable="false">
<#grid:column label="任务编号" width="90" query="true" condition="like" name="buyerTaskNo" align="center"/>
<#grid:column label="商品名称" name="goodsName" width="140" />
<#grid:column label="商家名称" name="shopName" query="true" condition="like" width="100" />
<#grid:column label="买手名称" name="buyerNo" query="true" condition="like" width="80" align="center"/>
<#grid:column label="反馈类型" name="applyType" query="true" queryMode="select" condition="eq" dict="applyType" width="80"/>
<#grid:column label="问题描述" name="applyDesc" width="120"/>
<#grid:column label="反馈时间" name="applyTime" query="true" width="80" queryMode="date"  condition="between" align="center" />
<#grid:column label="处理状态" name="applyStatus" query="true" align="center" queryMode="select" condition="eq" formatterValue="0:待处理;1:已处理" width="70"/>
<#grid:column label="处理时间" name="handleTime" width="80" align="center"/>
<#grid:column label="处理人" name="handleMan" width="80" align="center"/>
<#grid:column label="sys.common.opt" name="opt" formatter="button" />
<#grid:button title="详情" groupname="opt" function="rowDialogDetailRefresh" winwidth="1000px" winheight="750px" outclass="btn-danger"  url='${adminPath}/buyer/TmyTaskDetail/getApplyTaskDetail/1/\"+row.id+\"' />
<#grid:button title="驳回申请"  groupname="opt" function="rowDialogDetailRefresh" winwidth="500px" winheight="350px" outclass="btn-warning btn-xs" innerclass="fa-search" url='${adminPath}/buyer/TmyTaskDetail/initTurnDownApplyTask/\"+row.id+\"' />
<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>