<% layout('/layouts/form.html', {title: @MessageUtils.getMessage('问题反馈',''), formId: 'tfinanceRechargeForm', bodyClass: 'white-bg', libs: 'bootstrap-fileinput'}){ %>

<#form:form id="tfinanceRechargeForm" modelAttribute="ttb" method="post" class="form-horizontal">
<#form:hidden path="id"/>
<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
    <tbody>
    <tr>
        <td  class="width-15 active text-right">	<label><font color="red">*</font>反馈类型:</label></td>
        <td  class="width-35" >
            <#form:select path="applyType" class="form-control"   htmlEscape="false" nullmsg="请选择反馈类型！"
            dict="applyType"/>
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    <tr>
        <td  class="width-15 active text-right">
            <label><font color="red">*</font>原因说明:</label>
        </td>
        <td class="width-35" >
            <textarea id="applyDesc" cols="40" rows="8" >
            </textarea>
            <label class="Validform_checktip"></label>
        </td>
    </tr>
    </tbody>
</table>
</#form:form>
<button class='btn btn-warning' onclick="saveUnusualTaskApplyFn()">保存</button>
<% } %>

<script>
    //异常订单申请保存
    function saveUnusualTaskApplyFn() {
        var data={
            taskId:"${taskObj.id}",
            applyType:$("#applyType option:selected").attr('value'),
            applyDesc:$('#applyDesc').val()
        };
        if(data.applyDesc =='' || applyDesc==null){
            alert("未填写问题描述");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "${adminPath}/buyer/TmyTaskDetail/addUnusualTaskApply",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                alert(data.msg);
                //刷新表单
               window.parent.location.reload();//刷新父页面
               window.close();
            },
            error: function (data) {
             alert("错误！");
            }
        });
    }

</script>