<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('商户财务管理',''), libs: ''}){ %>
<div>
    <table cellpadding="10" style="font-size:18px;padding: 10px">
        <tr>
            <td colspan="6"><h3 style="color: #000000;">商户余额信息</h3><hr /></td>
        </tr>
        <tr>
            <td><p>账户余额：<span style="color:green;font-weight: bold" id="sumTotaldeposit"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>可用余额：<span style="color:green;font-weight: bold" id="sumAvailabledeposit"></span>&nbsp;&nbsp;&nbsp;</p></td>
            <td><p>冻结金额：<span style="color:green;font-weight: bold" id="sumTaskdeposit"></span>&nbsp;&nbsp;&nbsp;</p></td>
        </tr>

    </table>
    <br>
</div>

<#grid:grid id="TfinanceRechargeLogGrid" url="${adminPath}/finance/TfinanceRechargeLog/ajaxList" sortname="createDate" sortorder="desc" sortable="false">
<#grid:toolbar title="导出"   icon="fa-download"  onclick="download()"  />
<#grid:column label="商户号" name="loginname" query="true" condition="like" width="140" />
<#grid:column label="商户来源" name="fromInnerOuter" hidden="${showHidden}"  query="true" dict="shopSource" queryMode="select" condition="eq" />
<#grid:column label="收入金额" name="producedepositIncomeName" formatterColor="ALL:green;" width="100"/>
<#grid:column label="支出金额" name="producedepositPayName" formatterColor="ALL:red;" width="100"/>
<#grid:column label="账户余额" name="availabledeposit" width="100" formatter="currency"/>
<#grid:column label="交易类型" name="tradetype" width="80" dict="tradetype" queryMode="select" condition="eq" query="true"/>
<#grid:column label="任务编码" name="taskno" width="100" condition="eq" query="true" />
<#grid:column label="店铺" name="shopname" query="true"  condition="like" width="140" />
<#grid:column label="日期" name="createDate"  query="true" width="100" queryMode="date"  condition="between" />

<#grid:toolbar  function="search" />
<#grid:toolbar  function="reset" />
</#grid:grid>
<% } %>
<script>
    function search(gridId){
        var page = $("#"+gridId).getGridParam('page'); // 获取当前页码
        searchByPage(gridId,page);
        getload();
    }
    /*
     * 搜索重置
     */
    function reset(gridId) {
        $("#" + gridId + "Query").find(":input").val("");
        //运行搜索
        searchByPage(gridId,1);
        getload();
    }
    getload();
    function getload(){
        var data={};
        data.create1 = $("#TfinanceRechargeLogGrid_createDate_start").val();
        data.create2 = $("#TfinanceRechargeLogGrid_createDate_end").val();
        data.loginname = $("input[name='loginname']").val();
        data.shopname = $("input[name='shopname']").val();
        data.fromInnerOuter = $("select[name='fromInnerOuter']").val();
        $.ajax({
            type: "POST",
            url: "${adminPath}/shop/TshopInfo/sumShopInfo",
            contentType:'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data){
                $("#sumTotaldeposit").html(data.sumTotaldeposit==undefined?"0":data.sumTotaldeposit);
                $("#sumAvailabledeposit").html(data.sumAvailabledeposit==undefined?"0":data.sumAvailabledeposit);
                $("#sumTaskdeposit").html(data.sumTaskdeposit==undefined?"0":data.sumTaskdeposit);
            }
        });
    }
    /**
     * 导出
     * @param rowId
     */
    function download() {
        excelExport("${adminPath}/finance/TfinanceRechargeLog/export","TfinanceRechargeLogGrid");
    }
</script>