<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.chargeback.mapper.TChargeBackRecordMapper" >


	<sql id="Base_Column_rechargeback" >
    DISTINCT
    t.id
    </sql>

    <!--  查询允许退单的任务单列表-->
  <select id="selectUserList" resultType="cn.jeeweb.web.ebp.chargeback.entity.TChargeBackRecord">
	  SELECT
			buytd.id,buy.buyerName,buyt.mytaskNo,buytd.jdorderno,buytd.taskstate
		FROM
			t_my_task_detail buytd
			inner join t_my_task buyt on buytd.mytaskid=buyt.id and buyt.del_flag=0
			inner join t_task_base sttb on sttb.id=buytd.taskid and sttb.del_flag=0
			inner join t_buyer_info buy on buy.userid=buytd.buyerid and buy.del_flag=0
		where
			buytd.del_flag=0
  </select>

</mapper>