<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.logistics.mapper.TLogisticsOrderMapper">

    <sql id="Base_Column_TLogisticsOrder">
        tlo.id,
        tlo.out_store_batch_id outStoreBatchId,
        tlo.jd_order_no jdOrderNo,
        tlo.order_dtime orderDtime,
        tlo.order_pay_time orderPayTime,
        tlo.goods_total_num goodsTotalNum,
        tlo.order_total_money orderTotalMoney,
        tlo.order_coupon_total_money orderCouponTotalMoney,
        tlo.order_pay_total_money orderPayTotalMoney,
        tlo.order_status orderStatus,
        tlo.logistics_info logisticsInfo,
        tlo.buyer_msg buyerMsg,
        tlo.buyer_id buyerId,
        tlo.shop_user_id shopUserId,
        tlo.shop_remark shopRemark,
        tlo.shop_task_id shopTaskId,
        ttb.taskno shopTaskNo,
        tlo.out_store_time outStoreTime,
        tlo.out_store_should_pay_money outStoreShouldPayMoney,
        tlo.out_store_ope_man outStoreOpeMan,
        tlo.out_store_ack_batch_id outStoreAckBatchId,
        tlo.out_store_ack_pay_order_id outStoreAckPayOrderId,
        tlo.out_store_ack_time outStoreAckTime,
        tlo.out_store_ack_pay_money outStoreAckPayMoney,
        tlo.out_store_ack_man outStoreAckMan,
        tbi.buyerName buyerLoginNo,
        tsi.shopName
    </sql>

    <!-- 列表查询销售信息 -->
    <select id="selectTLogisticsOrderPageList" resultType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
        SELECT
        <include refid="Base_Column_TLogisticsOrder"/>
        FROM
            t_logistics_order tlo
            inner join t_task_base ttb on ttb.id=tlo.shop_task_id
            inner join t_buyer_info tbi on tbi.userid=tlo.buyer_id
            inner join t_shop_info tsi on tsi.userid=tlo.shop_user_id
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

    <select id="selectTLogisticsOrderById" parameterType="String" resultType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
        SELECT
          <include refid="Base_Column_TLogisticsOrder"/>
        FROM
          t_logistics_order tlo
          inner join t_task_base ttb on ttb.id=tlo.shop_task_id
        inner join t_buyer_info tbi on tbi.userid=tlo.buyer_id
        inner join t_shop_info tsi on tsi.userid=tlo.shop_user_id
        where
        tlo.id=#{id}
    </select>


    <update id="updateTLogisticsOrderStatus" parameterType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
      update
        t_logistics_order
      set
          order_status=#{orderStatus},
          out_store_ack_pay_money=#{outStoreAckPayMoney},
          out_store_ack_batch_id=#{outStoreAckBatchId},
          out_store_ack_time=#{outStoreAckTime},
          out_store_ack_man=#{outStoreAckMan},
          update_by=#{updateBy.id},update_date=#{updateDate}
      where
        id=#{id}
    </update>

    <!-- 明细处理 -->

    <insert id="insertTLogisticsOrderDetail" parameterType="List">
        insert into t_logistics_order_detail
          (id,master_id,buyer_task_detail_id,status,create_by,create_date,update_by,update_date,remarks,del_flag)
        values
          <foreach collection="list" item="obj" index="idx" separator=",">
              (#{obj.id},#{obj.masterId},#{obj.buyerTaskDetailId},#{obj.status},#{obj.createBy.id},#{obj.createDate},#{obj.updateBy.id},#{obj.updateDate},#{obj.remarks},#{obj.delFlag})
          </foreach>
    </insert>

    <update id="updateTLogisticsOrderDetailStatus" parameterType="HashMap">
      update
        t_logistics_order_detail t
      set
        t.status=#{map.status},t.update_by=#{map.updateBy},t.update_date=#{map.updateTime}
      where
        t.master_id=#{map.masterId}
    </update>

    <select id="selectTLogisticsOrderDetailListByMasterid" parameterType="String" resultType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrderDetail">
      select
        id,master_id masterId,buyer_task_detail_id buyerTaskDetailId,status,remarks
      from
        t_logistics_order_detail
      where
        master_id=#{masterId} and del_flag=0
    </select>
</mapper>