<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.logistics.mapper.TLogisticsOrderMapper">

    <sql id="Base_Column_TLogisticsOrder">

    </sql>

    <!-- 列表查询销售信息 -->
    <select id="selectTLogisticsOrderPageList" resultType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
        SELECT
        <include refid="Base_Column_TLogisticsOrder"/>
        FROM
        T_sold_Info t
        inner join sys_user u on u.id=t.userid
        inner join t_seller_level sltb on sltb.id=t.accountLevel
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

    <select id="selectTLogisticsOrderById" parameterType="String"
            resultType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
        SELECT
        <include refid="Base_Column_TLogisticsOrder"/>
        FROM
        t_logistics_order t
        where t.id=#{id}

    </select>


    <update id="updateTLogisticsOrderStatus" parameterType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
      update
        t_logistics_order
      set
          order_status=#{orderStatus},
          out_store_ack_pay_man=#{outStoreAckPayMan},
          out_store_ack_batch_id=#{outStoreAckBatchId},
          out_store_ack_pay_order_id=#{outStoreAckPayOrderId},
          out_store_ack_pay_time=#{outStoreAckPayTime},
          out_store_ack_pay_money=#{outStoreAckPayMoney},
        update_by=#{updateBy.id},update_date=#{updateTime}
      where
        id=#{id}
    </update>

    <insert id="insertTLogisticsOrder" parameterType="cn.jeeweb.web.ebp.logistics.entity.TLogisticsOrder">
      insert into t_logistics_order
    </insert>


    <!-- 明细处理 -->
    <update id="updateTLogisticsOrderDetailStatus" parameterType="HashMap">
      update
        t_logistics_order_detail t
      set
        t.status=#{map.status},t.update_by=#{map.updateBy},t.update_date=#{map.updateTime}
      where
        t.master_id=#{map.masterId}
    </update>
</mapper>