<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.logistics.mapper.TShopOrderShowMapper">

    <sql id="Base_Column_TShopOrderShowData">
        tmtd.jdorderno jdOrderNo,
        tmtd.receivingdate orderDtime,
        tmtd.receivingdate orderPayTime,
        ttb.t_title goodsName,
        ttb.imgurl goodsImgUrl,
        CONCAT(ttb.spec1, ' ', ttb.spec2) goodsSpecDesc,
        ttb.t_price goodsPrice,
        1 goodsNum,
        ttb.t_price orderTotalMoney,
        tmtd.commision orderCouponMoney,
        tmtd.pays orderPayMoney,
        tmtd.taskstate buyerTaskStatus,
        '' buyerMsg,
        tmt.id buyerTaskId,
        tmt.mytaskNo buyerTaskNo,
        tmtd.id buyerTaskDetailId,
        ttb.id shopTaskId,
        ttb.taskno shopTaskNo
    </sql>

    <sql id="Where_tTShopOrderShowTitlePage">
      <where>
          tmtd.receivingdate between #{map.beginTime} and #{map.endTime}
          <if test="map.jdOrderNo !=''  and map.jdOrderNo!=null ">
            and tmtd.jdorderno = #{map.jdOrderNo}
          </if>
          <if test="map.shopId !=''  and map.shopId!=null ">
              and ttb.shopId =#{map.shopId}
          </if>
      </where>
    </sql>
    <!-- 获取商户展示任务单的总数 -->
    <select id="selectTShopOrderShowTitlePageListCount" resultType="int" parameterType="HashMap">
      select count(*) from (
        SELECT
            tmtd.jdorderno
        FROM
          t_my_task tmt
          INNER JOIN t_my_task_detail tmtd ON tmtd.mytaskid = tmt.id AND tmtd.taskstate = 4
          INNER JOIN t_buyer_info tbi ON tbi.userid = tmtd.buyerid
          INNER JOIN t_task_base ttb ON ttb.id = tmtd.taskid
          INNER JOIN t_shop_info shoptb ON shoptb.userid = ttb.shopId
          <include refid="Where_tTShopOrderShowTitlePage" />
        GROUP BY tmtd.jdorderno
      ) tb
    </select>
    <!-- 列表查询销售信息 -->
    <select id="selectTShopOrderShowTitlePageList" resultType="cn.jeeweb.web.ebp.logistics.entity.TShopOrderShowTitle" parameterType="HashMap">
        select tb.* from (
            SELECT
                tmtd.jdorderno jdOrderNo,
                tmtd.receivingdate orderDtime,
                tmtd.receivingdate orderPayTime,
                tmtd.buyerno buyerLoginNo,
                tmtd.buyerid buyerId,
                tmtd.buyerjdnick,
                tmtd.taskstate,
                ttb.shopId,
                shoptb.shopName,
                shoptb.userid shopUserId
            FROM
                t_my_task tmt
                INNER JOIN t_my_task_detail tmtd ON tmtd.mytaskid = tmt.id AND tmtd.taskstate = 4
                INNER JOIN t_buyer_info tbi ON tbi.userid = tmtd.buyerid
                INNER JOIN t_task_base ttb ON ttb.id = tmtd.taskid
                INNER JOIN t_shop_info shoptb ON shoptb.userid = ttb.shopId
            <include refid="Where_tTShopOrderShowTitlePage" />
            GROUP BY tmtd.jdorderno
        ) tb
        ORDER BY
          tb.orderDtime desc
        limit ${map.start},${map.pageSize}
    </select>

    <select id="selectTShopOrderShowDataList" resultType="cn.jeeweb.web.ebp.logistics.entity.TShopOrderShowData" parameterType="HashMap">
        SELECT
          <include refid="Base_Column_TShopOrderShowData" />
        FROM
            t_my_task tmt
            INNER JOIN t_my_task_detail tmtd ON tmtd.mytaskid = tmt.id AND tmtd.taskstate = 4
            INNER JOIN t_buyer_info tbi ON tbi.userid = tmtd.buyerid
            INNER JOIN t_task_base ttb ON ttb.id = tmtd.taskid
            INNER JOIN t_shop_info shoptb ON shoptb.userid = ttb.shopId
        where
            tmtd.jdorderno in (${map.jdOrderNo})
        ORDER BY
        tmtd.receivingdate desc
    </select>

</mapper>