<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.finance.mapper.TfinanceBuyerReportMapper" >
  <resultMap id="TfinanceBuyerReport" type="cn.jeeweb.web.ebp.finance.entity.TfinanceBuyerReport" >
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result property="rechargedeposit" column="rechargedeposit" jdbcType="DOUBLE" />
      <result property="rechargetype" column="rechargetype" jdbcType="VARCHAR" />
      <result property="rechargeno" column="rechargeno" jdbcType="VARCHAR" />
      <result property="paymentno" column="paymentno" jdbcType="VARCHAR" />
      <result property="shopid" column="shopid" jdbcType="VARCHAR" />
      <result property="totaldeposit" column="totaldeposit" jdbcType="DOUBLE" />
      <result property="rechargefile" column="rechargefile" jdbcType="VARCHAR" />
  </resultMap>
  

  <select id="selectUserList" resultMap="TfinanceBuyerReport">
      select t.*,b.buyername buyeridName,b.loginname loginName from t_finance_buyer_report t
      left join t_buyer_info b on t.buyerid=b.userid
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>
    <select id="showBuyerReportLoad" resultType="java.util.Map">
        select sum(t.sumprice) sumprice,sum(t.sumorderprice) sumorderprice,sum(t.sumnum) sumnum
        from t_finance_buyer_report t
        left join t_buyer_info b on t.buyerid=b.userid
        where
        1=1
        <if test="map.userid != '' and map.userid != null">
            and t.buyerid=#{map.userid}
        </if>
        <if test="map.buyeridName != '' and map.buyeridName != null">
            and b.buyername like #{map.buyeridName}
        </if>
        <if test="map.loginName != '' and map.loginName != null">
            and b.loginname like #{map.loginName}
        </if>
        and (countcreatedate BETWEEN #{map.create1} and #{map.create2})
    </select>


</mapper>