<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.shop.mapper.TshopBaseMapper" >
  <resultMap id="TshopBase" type="cn.jeeweb.web.ebp.shop.entity.TshopBase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result property="shopname" column="shopname" jdbcType="VARCHAR" />
    <result property="mainurl" column="mainurl" jdbcType="VARCHAR" />
    <result property="jdshopid" column="jdshopid" jdbcType="VARCHAR" />
    <result property="platform" column="platform" jdbcType="VARCHAR" />
    <result property="address" column="address" jdbcType="VARCHAR" />
    <result property="sendname" column="sendname" jdbcType="VARCHAR" />
    <result property="mobile" column="mobile" jdbcType="VARCHAR" />
    <result property="classical1" column="classical1" jdbcType="VARCHAR" />
    <result property="classical2" column="classical2" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectShopList" resultMap="TshopBase">
    select t.*,u.realname,u.username from t_shop_base t left join sys_user u on t.userid=u.id
    <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
      <where>
        ${ew.sqlSegment}
      </where>
    </if>
  </select>

</mapper>