<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.shop.mapper.TshopInfoMapper" >
  <resultMap id="TshopInfo" type="cn.jeeweb.web.ebp.shop.entity.TshopInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result property="shopname" column="shopname" jdbcType="VARCHAR" />
    <result property="loginname" column="loginname" jdbcType="VARCHAR" />
    <result property="accountlevel" column="accountlevel" jdbcType="VARCHAR" />
    <result property="totaldeposit" column="totaldeposit" jdbcType="NUMERIC" />
    <result property="taskdeposit" column="taskdeposit" jdbcType="NUMERIC" />
    <result property="extractdeposit" column="extractdeposit" jdbcType="NUMERIC" />
    <result property="availabledeposit" column="availabledeposit" jdbcType="NUMERIC" />
    <result property="status" column="status" jdbcType="VARCHAR" />
    <result property="userid" column="userid" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id
  </sql>
  
  <select id="selectUserList" resultMap="TshopInfo">
	  select
   	    <include refid="Base_Column_List" />
      from T_shop_Info t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment}
		  </where>
	   </if>
  </select>

    <select id="findshopInfo"  resultMap="TshopInfo">
        SELECT t.* FROM T_shop_Info t,T_task_Base b where t.userid = b.shopid and t.status='0'
        and b.tasknum <![CDATA[>=]]> 0 limit 20
    </select>

    <select id="selectOne"  resultMap="TshopInfo">
        SELECT t.* FROM T_shop_Info t where t.userid = #{userid} limit 1
    </select>

  <select id="selectSumOne" resultType="java.util.Map">
        SELECT sum(availabledeposit) sumTotaldeposit,sum(taskdeposit) sumTaskdeposit FROM T_shop_Info t where
        1=1
      <if test="map.userid != '' and map.userid != null">
        and t.userid=#{map.userid}
      </if>
      <if test="map.loginname != '' and map.loginname != null">
          and t.loginname like #{map.loginname}
      </if>
   </select>

    <update id="updateShopMoney" parameterType="HashMap">
        update
            T_shop_Info
        set
            taskDeposit=taskDeposit+${map.taskDeposit},AvailableDeposit=AvailableDeposit+${map.AvailableDeposit},update_by=#{map.lastRepair},update_date=#{map.lastTime}
        where
            userid=#{map.shopId}
    </update>
</mapper>