<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.shop.mapper.TtaskBaseMapper" >
  <resultMap id="TtaskBase" type="cn.jeeweb.web.ebp.shop.entity.TtaskBase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result property="tType" column="t_type" jdbcType="VARCHAR" />
    <result property="shopid" column="shopid" jdbcType="VARCHAR" />
    <result property="tUrl" column="t_url" jdbcType="VARCHAR" />
    <result property="tTitle" column="t_title" jdbcType="VARCHAR" />
    <result property="tPrice" column="t_price" jdbcType="DOUBLE" />
    <result property="tNum" column="t_num" jdbcType="NUMERIC" />
    <result property="totalprice" column="totalprice" jdbcType="DOUBLE" />
    <result property="searchprice" column="searchprice" jdbcType="DOUBLE" />
    <result property="ispcview" column="ispcview" jdbcType="VARCHAR" />
    <result property="keyword" column="keyword" jdbcType="VARCHAR" />
    <result property="spec1" column="spec1" jdbcType="VARCHAR" />
    <result property="spec2" column="spec2" jdbcType="VARCHAR" />
    <result property="classify1" column="classify1" jdbcType="VARCHAR" />
    <result property="classify2" column="classify2" jdbcType="VARCHAR" />
    <result property="classify3" column="classify3" jdbcType="VARCHAR" />
    <result property="classify4" column="classify4" jdbcType="VARCHAR" />
    <result property="isMobileview" column="is_mobileview" jdbcType="VARCHAR" />
    <result property="expressway" column="expressway" jdbcType="VARCHAR" />
    <result property="tasknum" column="tasknum" jdbcType="NUMERIC" />
    <result property="status" column="status" jdbcType="VARCHAR" />
    <result property="imgurl" column="imgurl" jdbcType="VARCHAR" />
    <result property="tasksort" column="tasksort" jdbcType="VARCHAR" />
    <result property="lowpoint" column="lowpoint" jdbcType="DOUBLE" />
    <result property="highpoint" column="highpoint" jdbcType="DOUBLE" />
    <result property="taskdisser" column="taskdisser" jdbcType="VARCHAR" />
    <result property="tasklocation" column="tasklocation" jdbcType="VARCHAR" />
    <result property="effectdate" column="effectdate" jdbcType="DATE" />
    <result property="taskno" column="taskno" jdbcType="VARCHAR" />
    <result property="canreceivenum" column="canreceivenum" jdbcType="NUMERIC" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id,
    t.t_type,
    t.shopid,t.t_url,t.t_title,t.t_price,t.t_num,t.totalPrice,t.searchPrice,t.isPcView,t.keyword,t.spec1,t.spec2,
    t.classify1,t.classify2,
    t.classify3,t.classify4,t.isMobileview,t.expressway,t.tasknum,t.status
  </sql>
  
  <select id="selectTtaskBaseList" resultMap="TtaskBase">
	  select 
   	    <include refid="Base_Column_List" />
      from T_task_Base t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment} 
		  </where>
	   </if> 
  </select>

  <select id="selectShopTask" resultMap="TtaskBase">
    SELECT
    a.*
    FROM
    (
    SELECT
    t1.*, (
    SELECT
    count(*) + 1
    FROM
    T_task_Base t
    WHERE
    t.shopid = t1.shopid
    AND t.id <![CDATA[<]]> t1.id
               AND t.STATUS = '1'
               AND t.canreceivenum <![CDATA[>]]> 0
    and t.effectdate <![CDATA[<]]> DATE_ADD(curdate(),interval 1 day)
    ) AS group_id
    FROM
    T_task_Base t1
    where
    t1.STATUS = '1'
    AND t1.canreceivenum <![CDATA[>]]> 0
    and t1.effectdate <![CDATA[<]]> DATE_ADD(curdate(),interval 1 day)
    ) a
    WHERE
    a.group_id <![CDATA[<=]]> ${count}
    ORDER BY
    shopid,
    group_id
  </select>
</mapper>