<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.web.ebp.shop.mapper.TtaskBaseMapper" >
  <resultMap id="TtaskBase" type="cn.jeeweb.web.ebp.shop.entity.TtaskBase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result property="tType" column="t_type" jdbcType="VARCHAR" />
    <result property="shopid" column="shopid" jdbcType="VARCHAR" />
    <result property="tUrl" column="t_url" jdbcType="VARCHAR" />
    <result property="tTitle" column="t_title" jdbcType="VARCHAR" />
    <result property="tPrice" column="t_price" jdbcType="DOUBLE" />
    <result property="tNum" column="t_num" jdbcType="NUMERIC" />
    <result property="totalprice" column="totalprice" jdbcType="DOUBLE" />
    <result property="searchprice" column="searchprice" jdbcType="DOUBLE" />
    <result property="ispcview" column="ispcview" jdbcType="VARCHAR" />
    <result property="keyword" column="keyword" jdbcType="VARCHAR" />
    <result property="spec1" column="spec1" jdbcType="VARCHAR" />
    <result property="spec2" column="spec2" jdbcType="VARCHAR" />
    <result property="classify1" column="classify1" jdbcType="VARCHAR" />
    <result property="classify2" column="classify2" jdbcType="VARCHAR" />
    <result property="classify3" column="classify3" jdbcType="VARCHAR" />
    <result property="classify4" column="classify4" jdbcType="VARCHAR" />
    <result property="isMobileview" column="is_mobileview" jdbcType="VARCHAR" />
    <result property="expressway" column="expressway" jdbcType="VARCHAR" />
    <result property="tasknum" column="tasknum" jdbcType="NUMERIC" />
    <result property="status" column="status" jdbcType="VARCHAR" />
    <result property="imgurl" column="imgurl" jdbcType="VARCHAR" />
    <result property="tasksort" column="tasksort" jdbcType="VARCHAR" />
    <result property="lowpoint" column="lowpoint" jdbcType="DOUBLE" />
    <result property="highpoint" column="highpoint" jdbcType="DOUBLE" />
    <result property="taskdisser" column="taskdisser" jdbcType="VARCHAR" />
    <result property="tasklocation" column="tasklocation" jdbcType="VARCHAR" />
    <result property="effectdate" column="effectdate" jdbcType="DATE" />
    <result property="taskno" column="taskno" jdbcType="VARCHAR" />
    <result property="canreceivenum" column="canreceivenum" jdbcType="NUMERIC" />
    <result property="storename" column="storename" jdbcType="VARCHAR" />
    <result property="actualprice" column="actualprice" jdbcType="DOUBLE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DISTINCT
    t.id,
    t.t_type,
    t.shopid,t.t_url,t.t_title,t.t_price,t.t_num,t.totalPrice,t.searchPrice,t.isPcView,t.keyword,t.spec1,t.spec2,
    t.classify1,t.classify2,
    t.classify3,t.classify4,t.isMobileview,t.expressway,t.tasknum,t.status
  </sql>

  <select id="selectShopList" resultMap="TtaskBase">
    select t.*,s.shopname,(t.tasknum-t.canreceivenum) receivingnum,b.deliverynum,b.ordernum from T_task_Base t left join t_shop_base s on t.storename = s.id
    left join (select taskid,sum(confirm) confirmnum,sum(delivery) deliverynum,sum(order1) ordernum from
    (select taskid,case when taskstate=4 then 1 else 0 end confirm,
    case when taskstate=3 then 1 else 0 end delivery,
    case when taskstate=2 then 1 else 0 end order1 from t_my_task_detail) a group by taskid) b on t.id=b.taskid
    <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
      <where>
        ${ew.sqlSegment}
      </where>
    </if>
  </select>


  <select id="selectTtaskBaseList" resultMap="TtaskBase">
	  select 
   	    <include refid="Base_Column_List" />
      from T_task_Base t
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
		  <where>
		    ${ew.sqlSegment} 
		  </where>
	   </if> 
  </select>

  <select id="selectShopTask" resultMap="TtaskBase">
    SELECT
    a.*
    FROM
    (
    SELECT
    t1.*, (
    SELECT
    count(*) + 1
    FROM
    T_task_Base t
    WHERE
    t.storename = t1.storename
    AND t.id <![CDATA[<]]> t1.id
               AND t.STATUS = '0'
               AND t.canreceivenum <![CDATA[>]]> 0
    and DATE_FORMAT(t.effectdate,'%Y-%m-%d') = DATE_FORMAT(curdate(),'%Y-%m-%d')
    ) AS group_id
    FROM
    T_task_Base t1
    where
    t1.STATUS = '0'
    AND t1.canreceivenum <![CDATA[>]]> 0
    and DATE_FORMAT(t1.effectdate,'%Y-%m-%d') = DATE_FORMAT(curdate(),'%Y-%m-%d')
    group by t1.t_url,t1.storename
    ) a
    WHERE
    a.group_id <![CDATA[<=]]> ${count}
    ORDER BY
    storename,
    group_id
  </select>

  <select id="sumNumAndPrice" resultType="java.util.Map">
    select sum(t.actualprice*t.tasknum) sumActualprice,sum(deliveryPrice) sumDeliveryPrice,sum(orderPrice) sumOrderPrice,sum(count) sumCount
    from t_task_base t LEFT JOIN (select taskid,sum(deliveryPrice) deliveryPrice,sum(orderPrice) orderPrice,count(1) count from (select taskid,case when taskstate=3 then pays else 0 end deliveryPrice,
        case when taskstate=2 then pays else 0 end orderPrice
     from t_my_task_detail where (create_date BETWEEN #{createDate1} and #{createDate2})) a group by taskid ) b
    on t.id=b.taskid
    where shopid=#{createby} and (create_date BETWEEN #{createDate1} and #{createDate2})
  </select>

</mapper>